.page-404 {
    float: none;
    height: auto;
    margin: 150px auto 0px;
    clear: none;
    width: 500px;
    border: 1px solid rgb(228, 228, 228);
    padding: 10px 10px 30px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    background-color: rgb(255, 255, 255);
}

.page-404 .image {
    float: none;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0px auto;
    clear: both;
    color: rgb(0, 0, 0);
}

.page-404 #box1 {
    float: left;
    height: auto;
    margin: 0px;
    clear: none;
    width: 100%;
    min-width: 0px;
}

.page-404 #box2 {
    float: left;
    height: auto;
    margin: 0px;
    clear: both;
    width: 100%;
    min-width: 0px;
}

.page-404 #text {
    float: left;
    font-size: 36px;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: normal;
    margin: 10px 0px 0px;
    clear: none;
    min-height: 36px;
    min-width: 0px;
    color: rgb(255, 85, 85);
}

.page-404 #text1 {
    float: left;
    font-size: 19px;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: normal;
    margin: 20px 0px 0px;
    clear: both;
    min-height: 0px;
    min-width: 0px;
}

.page-404 #text2 {
    float: left;
    font-size: 19px;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: normal;
    margin: 10px 0px 0px;
    clear: both;
    min-height: 0px;
    min-width: 0px;
}