/* Button */
.button {
    border-radius: 0 !important;
    font-weight: 200 !important;
    width: 100%
}

.green-btn {
    background-color: #009865 !important;
    border-color: #009865 !important;
    color: #FFF !important;
}

.white-btn {
    background-color: #FFF !important;
    border-color: #009865 !important;
    color: #009865 !important;
}

.transparent-btn {
    color: #4D4D4D !important;
    background-color: transparent !important;
    border-color: transparent !important;
}

.rounded-btn {
    border-radius: 5.243px !important;
}

.like-this,
.delete-button,
.send-button {
    background-color: transparent !important;
    border-color: transparent !important;
    padding: 0 !important;
    width: 18px !important;
}

.button:focus,
.like-this:focus,
.delete-button:focus,
.send-button:focus {
    box-shadow: none !important;
    outline: none !important;
}

.like-this img,
.delete-button img,
.send-button img {
    display: flex;
    height: 100%;
    width: 100%;
}

.delete-button {
    width: 13px !important;
}

.send-button {
    width: 16px !important;
}

.link-to {
    align-items: center;
    color: #000000;
    display: flex;
    font-size: 0.78em;
}

.link-to .link-to-icon {
    margin-left: 5px;
    width: 5px;
}

.back-to-top-button {
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.20);
    height: 32px;
    width: 32px;
    position: fixed;
    bottom: 80px;
    right: 12px;
    text-align: center;
    z-index: 100;
}

.back-to-top-button img {
    width: 18px;
}

/* Check Box */

.checkbox.pretty .state label {
    font-size: inherit;
    font-weight: 200;
}

.checkbox.pretty .state label:after,
.checkbox.pretty .state label:before {
    border-color: #009765 !important;
    border-radius: 3px !important;
}

.checkbox.pretty input:checked~.state.p-success label:after,
.checkbox.pretty.p-toggle .state.p-success label:after {
    background-color: #009E65 !important
}

.checkbox.pretty.p-icon .state .icon {
    font-size: inherit
}

/* Input */

.input-box {
    border: 1px solid #000000;
    height: 30px;
    line-height: 2;
    padding: 0 6px;
    width: 100%;
}

.input-box:focus {
    outline: none;
    box-shadow: none;
}

.input-box::placeholder {
    color: #808080;
    font-size: 0.8em;
    font-weight: 200;
}

.input-box.green {
    border: 1px solid #009865 !important;
}

.input-default {
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    color: #000000;
    font-size: 0.937em;
    font-weight: 200;
    height: 43px;
    padding: 0 10px;
    width: 22%;
}

.input-default::placeholder {
    color: #666666;
    font-size: 0.937em;
    font-weight: 200;
}

.input-default:focus {
    box-shadow: none;
    outline: none;
}

.number-input-wrap {
    display: flex;
    height: 30px;
    justify-content: space-between;
    position: relative;
    margin-bottom: 6px;
}

.number-input-wrap .number-input-btn {
    background-color: #009865;
    border: 1px solid #009865;
    height: 100%;
    line-height: 0.2;
    width: 30%;
    z-index: 2;
}

.number-input-wrap .decrease-btn img {
    width: 10px;
}

.number-input-wrap .increase-btn img {
    width: 12.5px;
}

.number-input-wrap .number-input {
    position: absolute;
    z-index: 0;
    border: 1px solid #009865;
    width: 100%;
    text-align: center;
    top: 0;
    bottom: 0;
}

.number-input-wrap .number-input-btn:focus,
.number-input-wrap .number-input:focus {
    box-shadow: none;
    outline: none;
}

.number-input-wrap.border-rounded .number-input-btn {
    border-radius: 4.461px;
}

.number-input-wrap.border-rounded .number-input {
    border-radius: 5px;
}

.input-group-wrap {
    border-bottom: 1px solid #DFDFDF;
    margin-bottom: 12px !important;
    padding-bottom: 6px;
}

/* .input-group-wrap:last-child {
    border-bottom: none;
} */

.input-group-wrap label {
    color: #009865;
    font-size: 0.93em;
    font-weight: 200;
    margin-bottom: 0;
}

.input-group-wrap .input-form {
    color: #000;
    border: none;
    font-size: 0.93em;
    font-weight: 200;
    padding: 0;
}

.input-group-wrap .input-form:focus {
    box-shadow: none;
    outline: none;
}

.input-group-wrap .input-form::placeholder {
    color: #808080;
}

.input-group-wrap .info-icon {
    height: 18px;
    width: 18px;
}

.input-group-row {
    display: flex;
}

/* Select Option */

.select .Select-arrow-zone {
    padding: 0px 10px !important;
    width: 36px;
}

.select:focus {
    outline: none;
}

.select .Select-placeholder {
    color: #808080;
    font-size: 0.93em;
    font-weight: 200;
    padding: 0 18px;
}

.select .Select-value {
    color: #000000;
    font-size: 0.8em;
    font-weight: 200;
    padding: 0 18px !important;
}

.select .Select-input {
    padding: 0 18px;
    width: 100%;
}

.select .Select-control {
    background-color: #EBEBEB !important;
    border-color: #EBEBEB !important;
    border-radius: 0;
}

.Select.is-focused:not(.is-open)>.Select-control {
    box-shadow: none !important;
}

/* Radio */

/* .radio.pretty .state label {
    font-size: inherit;
    font-weight: 200;
}

.radio.pretty .state label:before {
    border-color: #009765 !important;
    width: 28px;
    height: 28px;
}

.radio.pretty.p-default input:checked~.state label:after {
    background-color: #FFF !important;
    width: 10px;
    height: 10px;
    top: 7px;
    left: 9px;
    border-radius: 50%;
}

.radio.pretty.p-default input:checked~.state label:before {
    background-color: #009E65 !important
} */

.radio {
    padding-left: 20px;
    position: relative;
}

.radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin: 0;
}

.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}

.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio input[type="radio"] {
    opacity: 0;
    z-index: 1;
    cursor: pointer;
    position: absolute;
}

.radio input[type="radio"]:checked+label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

/* Switch */

.switch.pretty {
    width: 26px
}

.switch.pretty.p-switch input {
    min-width: 26px !important
}

.switch.pretty.p-switch .state label {
    font-size: inherit;
    font-weight: 200;
}

.switch.pretty.p-switch .state label:after {
    background-color: #FFF !important;
    border-color: #009E65;
}

.switch.pretty.p-switch .state:before {
    border: 1px solid #009E65 !important;
    height: 14px !important;
    width: 24px !important;
}

.switch.pretty.p-switch.p-fill input:checked~.state:before {
    border-color: #009E65 !important;
    background-color: #009E65 !important;
}

.switch.pretty.p-switch .state label:after,
.switch.pretty.p-switch .state label::before {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    top: -4px;
    left: -2px;
}

.switch.pretty.p-switch.p-fill input:checked~.state label:after {
    left: 10px;
}

.switch-group {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
}

.switch-group label {
    color: #000;
    font-size: 0.937em;
    font-weight: 200;
}

/* Header */

.header {
    background-color: #00A365;
    height: 44px;
    text-align: center;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
}

.header .page-name {
    color: #FFF;
    font-size: 1.25em;
    width: 100%;
}

.body-content {
    height: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 44px;
    padding-bottom: 48px;
    position: relative;
}

.open {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    right: 0;
    transition: transform .5s;
    overflow: scroll;
    z-index: 1000;
    padding-top: 44px;
}

/* Search Bar */

.sub-search-bar-outer-wrap {
    display: flex;
}

.search-bar,
.sub-search-bar {
    align-items: center;
    background-color: #EBEBEB;
    border-radius: 16px;
    display: flex;
    height: 33px;
    margin: 12px 8px;
    padding: 0 12px;
    width: auto;
}

.search-bar .search-icon,
.sub-search-bar .search-icon {
    height: 14px;
    margin-right: 10px;
    width: 14px;
}

.search-bar .search-text,
.sub-search-bar .search-text {
    color: #929292;
    font-size: 0.78em;
    font-weight: 200;
}

.sub-search-bar {
    justify-content: space-between;
    width: 100%;
}

.sub-search-bar .back-link {
    align-items: center;
    display: flex;
}

.sub-search-bar .back-icon {
    line-height: 0;
    margin-right: 10px;
}

.sub-search-bar .back-icon img {
    height: 13px;
    width: 7.5px;
}

.cart-icon-wrap {
    margin-right: 7.5px;
    width: 25px;
}

.cart-icon-wrap img {
    height: 100%;
    width: 100%;
}

/* Menu */

.main-menu {
    align-items: center;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-around;
    padding: 12px 0;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 48px;
    z-index: 9999;
}


.sub-menu {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    height: 48px;
}

.menu-item {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    text-align: center;
}

.menu-item:focus,
.menu-item:hover {
    outline: none;
    text-decoration: unset;
}

.menu-item .menu-icon {
    margin-bottom: 4px;
}

.menu-item .menu-name {
    color: #000000;
    font-size: 0.65em;
}

/* Carousel */

.carousel .slide-img {
    height: 25vh;
    object-fit: cover;
}

.slidenumber-outerwrap {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
    width: auto;
}

.slidenumber-innerwrap {
    cursor: pointer;
    height: 12px;
    padding: 2px;
}

.slidenumber {
    border-radius: 50%;
    cursor: pointer;
    height: 5px;
    margin: 2px;
    width: 5px;
}

/* Section */

.title-section {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 12px
}

.title-section .section-name {
    font-size: 0.9375em;
}

/* Product Item */

.product-item,
.product-item-row {
    height: 100%;
    position: relative;
    width: 100%;
}

.discount-card {
    align-items: center;
    background-color: #FFE500;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    height: 35px;
    line-height: 1;
    justify-content: space-around;
    position: absolute;
    top: 5px;
    right: 4px;
    width: 35px;
}

.discount-card.hidden {
    display: none;
}

.discount-card .label {
    font-size: 0.673em
}

.discount-card .value {
    font-size: 1em;
}

.discount-card .percent {
    font-size: 8.5px;
}

.product-item .product-thumbnail,
.product-item-row .product-thumbnail {
    align-items: center;
    display: flex;
    height: 94px;
    justify-content: space-around;
    padding-top: 6px;
}

.product-item .product-thumbnail img,
.product-item-row .product-thumbnail img {
    height: 100%;
    object-fit: contain;
    width: 50%;
}

.product-item .product-describe-price,
.product-item-row .product-describe-price {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    padding: 0 4px;
}

.product-item .product-detail,
.product-item-row .product-detail {
    margin-right: 8px;
    width: 50%;
}

.product-item .brand-logo,
.product-item-row .brand-logo {
    height: 38px;
    padding: 4px 4px 0;
}

.product-item .brand-logo.hidden,
.product-item-row .brand-logo.hidden {
    display: none;
}

.product-item .brand-logo img,
.product-item-row .brand-logo img {
    width: 21%;
}

.product-item .product-name,
.product-item-row .product-name {
    font-size: 0.625em;
    white-space: pre-line;
    padding: 4px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.7;
}

.product-item .product-discount,
.product-item-row .product-discount {
    height: 16px;
    line-height: 0.7;
    margin-bottom: 21px;
}

.product-item .product-discount .original-price,
.product-item-row .product-discount .original-price {
    position: relative;
}

.product-item .product-discount .original-price::before,
.product-item-row .product-discount .original-price::before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid #FF0000;
    -webkit-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    transform: rotate(-12deg);
}

.product-item .product-discount .original-price,
.product-item-row .product-discount .original-price {
    font-size: 0.625em;
}

.product-item .product-discount .currency,
.product-item-row .product-discount .currency {
    font-size: 0.5em
}

.product-item .product-discount .original-price,
.product-item .product-discount .currency,
.product-item-row .product-discount .original-price,
.product-item-row .product-discount .currency {
    color: #666666;
    margin-right: 2.5px;
}

.product-item .product-discount .discount,
.product-item-row .product-discount .discount {
    color: #000000;
    font-size: 0.625em;
}

.product-item .product-price {
    height: 26px;
    line-height: 1.6;
    margin-bottom: 0;
}

.product-item .product-price .price,
.product-item .product-price .currency,
.product-item-row .product-price .price,
.product-item-row .product-price .currency {
    color: #000000;
    font-weight: 300;
}

.product-item .product-price .price,
.product-item-row .product-price .price {
    font-size: 1em;
    margin-right: 2.5px;
}

.product-item .product-price .currency,
.product-item-row .product-price .currency {
    font-size: 0.8em;
}

.product-item .button-section {
    align-items: flex-end;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    padding: 4px 4px;
    position: absolute;
    width: 100%;
    right: 0;
}

.product-item .button-section.hidden,
.product-item-row .button-section.hidden {
    display: none
}

.product-item .product-real-price.hidden,
.product-item-row .product-real-price.hidden {
    display: none;
}

.product-item .club-card,
.product-item-row .club-card {
    align-items: center;
    display: flex;
    height: auto;
}

.product-item .club-card-img {
    border-radius: 2px;
    margin-right: 2.5px;
    width: 32px;
}

.product-item .club-card-text,
.product-item-row .club-card-text {
    color: #000000;
    font-size: 6.5px;
    font-weight: 300;
    margin: 0;
}

.product-item .member-price,
.product-item-row .member-price {
    background-color: #FFE600;
    height: 24px;
    line-height: 1.5;
    text-align: center;
    margin: 0 4px;
    padding: 2px 4px;
    display: initial;
}

.product-item .member-price.hidden,
.product-item-row .member-price.hidden {
    display: none;
}

.product-item .member-price .price,
.product-item .member-price .currency,
.product-item-row .member-price .price,
.product-item-row .member-price .currency {
    font-weight: 300;
}

.product-item .member-price .price,
.product-item-row .member-price .price {
    font-size: 1em;
}

.product-item .member-price .currency,
.product-item-row .member-price .currency {
    font-size: 0.5em;
}

.product-item .member-price .currency.hidden,
.product-item-row .member-price .currency.hidden {
    display: none;
}

.product-item .product-real-price {
    width: 50%;
}

.member-price-wrap {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

/* Product Item 2 */

.product-item-row {
    display: flex;
}

.product-item-row .product-name {
    padding: 0;
}

.product-item-row .product-thumbnail {
    height: auto;
    padding: 0 10px;
    width: 60%;
}

.product-item-row .product-describe {
    width: 40%;
}

.product-item-row .product-thumbnail img {
    width: 100%;
}

.product-item-row .product-real-price {
    justify-content: space-around;
    align-items: center;
    display: flex;
    width: 100%;
    margin-bottom: 6px;
    margin-top: 6px;
}

.product-item-row .product-member-price {
    width: 100%;
}

.product-item-row .member-price {
    display: block;
    line-height: 1.3;
    margin: 0;
    width: 100%;
}

.product-item-row .club-card-img {
    border-radius: 2px;
    margin-right: 4px;
    width: 28px;
}

.product-item-row .club-card {
    justify-content: center;
    margin-bottom: 2px;
}

.product-item-row .product-describe-price {
    padding: 0;
}

/* Filter Tab */

.filter-section {
    align-items: center;
    border-bottom: 1px solid #DBDBDB;
    display: flex;
    justify-content: space-between;
    padding: 0 6px 2px;
    margin-bottom: 4px;
}

.sort-select {
    width: 137px;
}

.sort-select .sort-select-btn {
    align-items: center;
    display: flex;
}

.sort-select .Select-placeholder,
.sort-select .Select--single>.Select-control .Select-value {
    align-items: center;
    display: flex;
    padding: 0 !important;
}

.sort-select .select {
    width: 100%;
}

.sort-select .select .Select-control {
    border: none;
    background-color: #FFF !important;
}

.sort-select .select .Select-arrow-zone {
    width: 32px !important
}

.sort-select .sort-select .sort-select-btn {
    font-size: 0.8em !important;
    font-weight: 200;
}

.filter-select {
    display: flex;
}

.filter-select .sort-button,
.filter-select .filter-button {
    margin: 6px;
}

.filter-select .sort-button img {
    width: 14px;
}

.filter-select .filter-button img {
    width: 17.5px;
}

/* Filter Sliding */

.filter-sliding {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    right: 0;
    overflow: scroll;
    z-index: 1000;
    padding-top: 44px;
    display: none;
}

.filter-sliding.show {
    display: block;
}

.filter-sliding .inner-wrap {
    background-color: #FFF;
    float: right;
    height: 100%;
    padding: 0 18px;
    position: relative;
    width: 70%;
    -webkit-animation-name: leftIn;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-name: leftIn;
    animation-name: leftIn;
    animation-duration: 0.4s;
}


@-webkit-keyframes leftIn {
    from {
        right: -100px;
        opacity: 0;
    }
    to {
        right: 0;
        opacity: 1;
    }
}

@keyframes leftIn {
    from {
        right: -100px;
        opacity: 0;
    }
    to {
        right: 0;
        opacity: 1;
    }
}

.filter-sliding.hide .inner-wrap {
    transform: translate(100vw, 0);
}

.filter-sliding.show .inner-wrap {
    transform: translate(0vw, 0);
    overflow: hidden;
}

.filter-sliding .accordion {
    border: none;
    border-radius: 0;
}

.filter-list {
    border-bottom: 1px solid #D4D4D4;
}

.filter-list .filter-title {
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: #000000;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.8em;
    font-weight: 200;
    height: auto;
    min-height: 42px;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 0 !important;
    padding: 12px 0;
    position: relative;
    width: 100%;
}

.filter-list *:focus {
    outline: none;
    box-shadow: none;
}

.filter-list .filter-by-price {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 14px 12px 14px 0;
}

.filter-list .filter-by-price.hidden {
    display: none;
}

.filter-list .filter-by-price .to-icon {
    padding: 0 12px;
}

.filter-list .filter-by-price .to-icon img {
    width: 9px;
}

.filter-list .filter-title .filter_arrow_wrap {
    padding: 6px;
}

.filter-list .filter-title .filter_arrow {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transition: transform 0.25s ease, -webkit-transform 0.25s ease;
    width: 12px;
}

.filter-list .filter-title[aria-selected='true'] .filter_arrow_rotate {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.filter-list .filter-body {
    padding: 0;
}

.filter-list .filter-body .button-group {
    margin-bottom: 12px;
}

.filter-list .filter-body .button-group.hidden {
    display: none;
}

.filter-list .filter-body .filter-button {
    background-color: #EAEAEA;
    border: 1px solid #EAEAEA;
    border-radius: 0;
    color: #000;
    font-size: 0.62em;
    font-weight: 200;
    height: 20px;
    margin-right: 6px;
    margin-bottom: 6px;
    min-width: 50px;
    padding: 0 4px;
    width: auto;
}

.filter-list .filter-body .filter-button.active {
    color: #FFF;
    background-color: #009865;
    border: 1px solid #009865;
}

.filter-list .filter-body .filter-button:focus {
    box-shadow: none;
    outline: none;
}

.filter-button-section {
    display: flex;
    position: absolute;
    bottom: 110px;
    left: 18px;
    right: 18px;
    justify-content: space-between;
}

.filter-button-section .white-btn {
    margin-right: 25px;
}

/* Banner */

.banner {
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    padding-bottom: 29.167%;
    width: 100%;
}

.banner .banner-img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.banner-wrap {
    padding: 0 6px 6px;
}

/* Modal */

.modal-wrap {
    padding: 0 24px;
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    margin: 0 !important;
    width: 100% !important;
}

.modal-wrap .modal-content {
    border: none;
    border-radius: 0;
}

.modal-inner-wrap {
    padding: 40px 18px 30px;
}

.modal-connect-clubcard .profile-image-row {
    padding-bottom: 22px;
    text-align: center;
}

.modal-connect-clubcard .profile-image-row img {
    border-radius: 50%;
    height: 115px;
    object-fit: cover;
    width: 115px;
}

.modal-connect-clubcard .profile-name-row {
    text-align: center;
}

.modal-connect-clubcard .profile-name-row p {
    color: #009966;
    font-size: 1.4em;
    font-weight: 200;
    margin-bottom: 8px;
}

.modal-connect-clubcard .connect-clubcard-row {
    text-align: center;
}

.modal-connect-clubcard .connect-clubcard-row p {
    color: #000000;
    font-size: 1.18em;
    font-weight: 200;
    margin-bottom: 16px;
}

.modal-connect-clubcard .connect-clubcard-button {
    padding: 0px 28px;
}

.modal-connect-clubcard .connect-clubcard-button .button {
    margin-bottom: 17px;
}

.modal-connect-clubcard .connect-clubcard-button .button:last-child {
    margin-bottom: 0;
}

.modal-price-change .price-change-title {
    color: #FF0000;
    font-size: 1.1em;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
}

.modal-price-change .price-change-item {
    border-bottom: 1px solid #929292;
    padding: 16px 10px
}

.modal-price-change .price-change-item:last-child {
    border-bottom: none;
}

.modal-price-change .product-name {
    margin-bottom: 8px
}

.modal-price-change .price-change-detail {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.modal-price-change .button-section {
    padding: 16px 44px 0;
}

.modal-search {
    max-width: 100% !important;
    width: 100% !important;
    height: 100%;
    margin: 0 !important;
}

.modal-search .modal-content {
    border: none;
    height: 100%;
}

.search-input-wrap {
    display: flex;
    padding-top: 44px;
}

.search-input-wrap .search-input {
    background-color: transparent;
    border: none;
    height: 100%;
    width: 100%;
}

.search-input-wrap .search-input:focus {
    box-shadow: none;
    outline: none;
}

.history-search {
    padding: 12px 22px;
}

.history-search .history-search-title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    ;
}

.history-search .histoty-list {
    display: flex;
    flex-wrap: wrap;
    padding: 8px 0;
}

.history-search .history-search-title-text {
    color: #808080;
    font-size: 0.78em;
    font-weight: 200;
}

.search-history-tag {
    align-items: center;
    background-color: #EBEBEB;
    border-radius: 6px;
    display: flex;
    font-size: 0.78em;
    font-weight: 200;
    height: 30px;
    margin-right: 14px;
    padding: 0 15px;
    width: max-content;
}

/* iPhone X */

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .body-content {
        padding-bottom: 76px;
    }
    .main-menu {
        padding: 2px 0 28px;
        height: auto;
    }
    .filter-button-section,
    .back-to-top-button {
        bottom: 90px;
    }
}

/*  Tablets, Ipads (portrait) */

@media (min-width: 768px) and (max-width: 1024px) {

}