@font-face {
    font-family: TESCOModernThaiBeta;
    font-weight: 200;
    src: url("../fonts/TESCOModernThaiBeta/TESCOModernThaiBeta-Light.eot");
    src: url("../fonts/TESCOModernThaiBeta/TESCOModernThaiBeta-Light.eot?#iefix") format('embedded-opentype'),
        url("../fonts/TESCOModernThaiBeta/TESCOModernThaiBeta-Light.woff2") format('woff2'),
        url("../fonts/TESCOModernThaiBeta/TESCOModernThaiBeta-Light.woff") format('woff'),
        url("../fonts/TESCOModernThaiBeta/TESCOModernThaiBeta-Light.ttf") format('truetype')
}

@font-face {
    font-family: TESCOModernThaiBeta;
    font-weight: 300;
    src: url("../fonts/TESCOModernThaiBeta/TESCOModernThaiBeta-Medium.eot");
    src: url("../fonts/TESCOModernThaiBeta/TESCOModernThaiBeta-Medium.eot?#iefix") format('embedded-opentype'),
        url("../fonts/TESCOModernThaiBeta/TESCOModernThaiBeta-Medium.woff2") format('woff2'),
        url("../fonts/TESCOModernThaiBeta/TESCOModernThaiBeta-Medium.woff") format('woff'),
        url("../fonts/TESCOModernThaiBeta/TESCOModernThaiBeta-Medium.ttf") format('truetype')
}

@font-face {
    font-family: TESCOModernThaiBeta;
    font-weight: 400;
    src: url("../fonts/TESCOModernThaiBeta/TESCOModernThaiBeta-Regular.eot");
    src: url("../fonts/TESCOModernThaiBeta/TESCOModernThaiBeta-Regular.eot?#iefix") format('embedded-opentype'),
        url("../fonts/TESCOModernThaiBeta/TESCOModernThaiBeta-Regular.woff2") format('woff2'),
        url("../fonts/TESCOModernThaiBeta/TESCOModernThaiBeta-Regular.woff") format('woff'),
        url("../fonts/TESCOModernThaiBeta/TESCOModernThaiBeta-Regular.ttf") format('truetype')
}

@font-face {
    font-family: TESCOModernThaiBeta;
    font-weight: 500;
    src: url("../fonts/TESCOModernThaiBeta/TESCOModernThaiBeta-Bold.eot");
    src: url("../fonts/TESCOModernThaiBeta/TESCOModernThaiBeta-Bold.eot?#iefix") format('embedded-opentype'),
        url("../fonts/TESCOModernThaiBeta/TESCOModernThaiBeta-Bold.woff2") format('woff2'),
        url("../fonts/TESCOModernThaiBeta/TESCOModernThaiBeta-Bold.woff") format('woff'),
        url("../fonts/TESCOModernThaiBeta/TESCOModernThaiBeta-Bold.ttf") format('truetype')
}