@import 'fonts.css';
@import 'component.css';
@import './page/home.css';
@import './page/mywishlist.css';
@import './page/product.css';
@import './page/cart.css';
@import './page/account.css';
@import './page/coupon.css';
@import './page/address.css';
@import './page/payment.css';
@import './page/thank.css';

body {
    font-family: 'TESCOModernThaiBeta', Helvetica, sans-serif !important;
    font-size: 100% !important;
    font-weight: 200 !important;
    overflow: auto;
}

#main-contrainer {
    margin: 0 auto;
    max-width: 750px;
    width: 100%;
}

/*  Tablets, Ipads (portrait) */

@media (min-width: 768px) and (max-width: 1024px) {
    #main-contrainer {
        margin: 0;
        max-width: 900px;
        width: 100%;
    }
}