
@font-face {
    font-family: "Helvethaica";
    src: url(../font/DB-Helvethaica-X-v3.2.ttf) format("truetype");
}
@font-face {
    font-family: "Helvethaica-bd";
    src: url(../font/DB-Helvethaica-X-Bd-v3.2.ttf) format("truetype");
}
@font-face {
    font-family: "Helvethaica-Med-Cond";
    src: url(../font/DB-Helvethaica-X-Med-Cond-v3.2.ttf) format("truetype");
}
@font-face {
    font-family: "Helvethaica-li-Cond-it";
    src: url(../font/DB-Helvethaica-X-Li-Cond-It-v3.2.ttf) format("truetype");
}


/*html {
  height: 100%;
}*/
html {
  background-color: #b20199;
}
body {
    width: 100%;
    margin: 0;
    font-family: 'Helvethaica';
    background: linear-gradient(#fa60c2,#f553ba,#ec1ea5,#d90e9e,#b20199);
    height: 100%;
    background-size: 100%;
    min-height: 100vh;
}

/*background: linear-gradient(#fa60c2,#f553ba,#ed3cb1,#e730af,#e820a7,#e01aa5,#da0f9f,#d6049b,#d30198,#c80099,#bb0097,#b20199,#a1009b);*/
.form-control::-webkit-input-placeholder { color: white;font-family: "Helvethaica-li-Cond-it"; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: white;font-family: "Helvethaica-li-Cond-it"; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: white; font-family: "Helvethaica-li-Cond-it";}  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: white; font-family: "Helvethaica-li-Cond-it";}  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: white; font-family: "Helvethaica-li-Cond-it";}  /* Microsoft Edge */
textarea:focus, input:focus{
    outline: 0;
    -webkit-box-shadow:none !important;;
    box-shadow:none !important;;
}
small{
    font-family: 'Helvethaica-li-Cond-it';
    float: right;
    right: 30px;
    font-size: 75%;
    line-height: 2;
}
label{
  font-weight: 500;
}
.container-bg {
/*  background: url(../images/bg.png) no-repeat top center;
	background-color: #fe41bb;
	height: 100vh;
    background-size: 100%;*/
}
.radio-no-box{
  background-color: transparent !important;;
}

.header{
	background-color: #ec068d;
  background-image: url('../images/bg-header.png');
  height: 60px;
}


.header
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.header:before, .header:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.header:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

.header .logo{
	text-align: center;
}
.header .logo img{
	width: auto;
}

.title{
	width: 100%;
	margin-top: 30px;
}
.title .text  {
	text-align: center;
	font-family: 'Helvethaica-Med-Cond';
	font-size: 40pt;
  display: flex;
	color: #fff;
  align-items: center;
  justify-content: center;
}
.title .text  span {
/*  position: relative;
  top: -5px;*/
	box-sizing: border-box;
	text-align: center;
	font-family: 'Helvethaica';
	font-size: 45pt;
	color: #fff;
	padding: 0 10px;

}
.input-group {
    border: 3px solid #fff;
    width: 100%;

}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: left;
    border-radius: 4px;
    font-size: 23pt;
    font-family: 'Helvethaica-Med-Cond';
    color: #FFF;
}
.addon-customize {
    background-color: #f62eb9;
    border: none;
    width: 130px;
}
.form-custom{
    border: none;
    background-color: #f62eb9;
    color: #fff;
    height: 44px;
    font-size: 22pt;
    font-family: 'Helvethaica';
    padding-left: 30px;
}
.input-group-addon:first-child {
    border-right: 2px solid;
}
.squaredOne {
/*  width: 28px;
  height: 28px;*/
  position: relative;
/*  margin: 20px auto;*/

}
.squaredOne label {
  width: 20px;
  height: 20px;
  position: relative;
  top: 7px;
  left: 4px;
  cursor: pointer;
  background-color: #FFF;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
}
.squaredOne label:after {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #31388a;
/*  background: #31388a;*/
  box-shadow: inset 0px 1px 1px #31388a, 0px 1px 3px #31388a;
  opacity: 0;
}
.squaredOne label:hover::after {
/*  opacity: 0.3;*/
}
.squaredOne input[type=radio] {
  visibility: hidden;
}
.squaredOne input[type=radio]:checked + label:after {
  opacity: 1;
}
.squaredOne input[type=checkbox] {
  visibility: hidden;
}
.squaredOne input[type=checkbox]:checked + label:after {
  opacity: 1;
}
.gender_text{
  font-size: 21pt;
  font-family: 'Helvethaica-Med-Cond';
  color: #FFF;
  margin-left: 10px;
  line-height: 1;
}
.radio-select{
  display: table-cell;
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  background-color: #f62eb9;
  padding: 6px 12px;
  height: 44px;
}
.radio-margin{
  margin-bottom: 6px;
  margin-left: 10px;
}
.box-condition{
    margin-top: 80px;
    position: relative;
    display: inline-block;
}
i{
  margin-top: -10px;
  width: 100%;
  background-image: url(../images/bg-text.png);
  background-size: 40% 100%;
  display: block;
  background-repeat: no-repeat;
  background-position: center top;
  height: 25px;
  position: absolute;
  left: 0;
}
.condition_text{
  font-size: 21pt;
  font-family: 'Helvethaica-Med-Cond';
  color: #FFF;
  margin-left: 10px;
  line-height: 1;
}

.btn-next{
  height: 50px;
  width: 100%;
  background-color: #302b76;
  color:#FFF;
  text-align: center;
  border:3px solid #FFF;
  font-size: 22pt;
  font-family: 'Helvethaica-Med-Cond';
  margin-top: 20px;
  margin-bottom: 20px;

/*    background-image: url(../images/bg-text.png);
    background-size: 30% 100%;
    background-repeat: no-repeat;
    background-position: bottom 50px right 100px;*/
}
.btm-next-nmt{
  margin-top: 0px;
}
.addon-select{
  background-color: #FFF;
  border-radius: 0;
  text-align: center;
}
/*.dropdown-toggle{
  visibility: hidden;
}
*/
.dropdown-select{
  background-color: #ec068d;
  color: #FFF;
  font-size: 22pt;
  font-family: 'Helvethaica-Med-Cond';
  text-align: center;
  top:-5px;
  left:-5px;
  width: 104%;
  border:3px solid #FFF;
}
ul.dropdown-select {
    padding: 0;
    margin:0;
}
.dropdown-select li{
    padding: 5px;
}
.dropdown .dropdown-select li:hover,.dropdown .dropdown-select li:focus,.dropdown .dropdown-select li:active{
  background-color: #FFF;
  color: #f62eb9;
}

.vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
  display: table-cell;
/*  bottom: 40px;*/
  vertical-align: middle;
}

.modal-content{
    width: 90%;
    margin: 0 auto;
    max-width: 500px;
}

.modal-confirm{
  background-color: #ee3d96;
}
.modal-confirm .icon-alert{
  margin:0 auto;
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
}

.modal-confirm .close{
  opacity: 1;
}
.modal-confirm .detail {
    color: #FFF;
    font-family: 'Regular';
    font-size: 14pt;
    white-space: pre-line;
    word-wrap: break-word;
    text-align: center;
    line-height: 1.8;
}
.modal-confirm .btn-agree{
  width: 50%;
  margin: 0 auto;
  display:block;
  margin-top: 10px;
}
.product .title{
    margin-top: 10px;
}
.product .title .text  {
  font-size: 35pt;
}
.custom-label{
    font-size: 22pt;
    color: #FFF;
    font-family: 'Helvethaica-Med-Cond';
    font-weight: 500;
    margin-left: 0px;
    padding-left: 55px;
    margin-bottom: 0;
    width: 100%;
}
.custom-label-small{
   padding-left: 15px !important;
   font-size: 19pt !important;
}
.custom-label-pd-left{
  padding-left: 15px !important;
}
.custom-label-sendemail{
  margin-top: 120px;
  padding-left: 5px !important;
}
.product .addon-customize {
    width: 55px;
}
.product .form-group-none{
  border:3px solid #FFF;
  padding-left: 90px;
  height: 50px;
}
.product .radio-select{
    background-color: #fe41bb;
    padding: 6px 40px;
}

.product .form-group {
    margin-bottom: 10px;
}


.register .title{
    margin-top: 10px;
}
.register .title .text  {
  font-size: 35pt;
}
.register .title .text-m  {
  font-size: 30pt;
}
.register .custom-label{
  font-size: 22pt;
  color: #FFF;
  font-family: 'Helvethaica-Med-Cond';
  font-weight: 500;
  margin-left: 0px;
  margin-bottom: 0;
  padding-left: 50px;
  width: 100%;
  display: inherit;
}
.register .form-custom {

    padding-left: 10px;
}

.register .addon-customize {
    width: 55px;
}
.register .form-group-none{
  border:3px solid #FFF;
  padding-left: 90px;
  height: 50px;
}
.register .radio-select{
    background-color: #fe41bb;
    padding: 6px 40px;
}

.register .form-group {
    margin-bottom: 10px;
}
.pd-0{
  padding-right: 0;
}

.register .form-group-center {
    padding: 0px; 
    text-align: center;
}
.arrow{
    padding: 0px 10px 4px 10px;
    width: 30px;
}

.line{
  border-top:3px solid #FFF;
  width: 100%;
  margin-bottom: 15px;
}
.pd-l-15{
  padding-left: 15px !important;
}
.btn-control{
  width: 45px;
  height: 45px;
  background-color: #FFF;
  color:#fc29b7;
  margin-left: 20px;
  border:1px solid #fc4cbc;
  box-shadow: 2px 2px #574d534a;
  font-size: 30pt;
  line-height: 5px;
  font-weight: bold;
}
.btn-control:hover{
  background-color: #31388a ;
  outline:none;
}
.btn-control:active,.btn-control:focus{
  outline:none;
}
.btn-group{
  margin-top: 2px;
}
.box-content{
  background-color: #ec068d;
  border:3px solid #fff;
  font-family: 'Helvethaica-Med-Cond';
  font-size: 20pt;
  padding: 20px;
  color: #FFF;
  margin-bottom: 30px;
}
.box-content p{

  margin-bottom: 0px;
}
.no-register{
  background-color: #a72e59;
  margin-top: 0px;
}
.btn-contact{
  background-color: #eca41f;
  margin-top: 0px !important;
}
.btn-send-email{
  background-color: #eca41f;
  margin-top: 180px !important;
}
.btn-document{
  background-color: #ec068d;
}

.text-indent-1{
  text-indent: 1em;
}
.text-indent-05{
  text-indent: 0.5em;
}
.box-content-document{
  margin-top:50px;
  text-align: center;
  padding: 40px;
}
.box-content-document a{
  color: #fcff22;
  text-decoration: underline;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;

}
.btn-chat{
  margin-top: 120px !important;
}
.btm-next-mt-center{
  margin-top: 150px !important;
}
.note {
      text-align: center;
}
.box-contact-cus{
  font-size: 19pt;
  padding: 10px;
  margin-bottom: 20px;
}
table{
  margin-top: 20px;
  margin-bottom: 15px;
}
table td{
  padding: 5px;
}
.pd-l-5{
  padding-left: 5px;
}
.pd-r-5{
  padding-right: 5px;
}
.btn-b{
  background-color: #a63360;
}
.text-location{
  margin-top: 180px;
  color: #FFF;
  text-align: center;
  font-size: 22pt;
  font-family: 'Helvethaica-Med-Cond';
}
.note_b{
  text-align: left;
  font-size: 18pt;
  font-family: 'Helvethaica-Med-Cond';
  margin-top: 20px;
  margin-bottom: 40px;
  color: #FFF;
}
small.help-block{
  color: red;
  font-size: 18pt;
  float: left;
}
@media only screen and (max-width: 413px) {
  .title {
      margin-top: 10px;
  }
  .register .title .text {
      font-size: 30pt;
  }
  .register .title .text-m  {
    font-size: 27pt;
  }
  .form-custom {
    font-size: 20pt;
    padding-left: 10px;
    height: 45px;
  }
  .checkbox-inline, .radio-inline {
      padding-left: 0px;
  }
  .box-condition {
      margin-top: 30px;
  }
  .product .title .text {
      font-size: 30pt;
  }
  .custom-label ,.register .custom-label{
      font-size: 20pt;
  }
  .product .form-group-none {
      padding-left: 80px;
  }
  .product .form-group-none {
      border: 3px solid #FFF;
      padding-left: 70px;
      height: 51px;
  }
  .product .radio-select {
      padding: 6px 35px;
  }
  .product .addon-customize, .register .addon-customize {
      width: 50px;
      padding: 5px;
  }
  .product .btn-dropdown img,.register .btn-dropdown img{
    width: 90%;
  }
  .product .form-group-none {
      border: 3px solid #FFF;
      padding-left: 60px;
      height: 46px;
  }
  .register .form-group-none {
      border: 3px solid #FFF;
      height: 46px;
  }
  .form-custom {
      font-size: 18pt;
      padding-left: 10px;
      height: 40px;
  }
  .register .form-group {
      margin-bottom: 5px;
  }
  .btn-control {
      width: 40px;
      height: 40px;
      margin-left: 15px;
      font-size: 28pt;
      line-height: 3px;

  }
  .box-content{
    font-size: 18pt;
    padding: 15px;
  }
  .no-register{
    margin-top: 0px !important;
  }
  .custom-label-small {
      font-size: 17pt !important;
  }
  .box-contact-cus{
    font-size: 17pt;
    padding: 10px;
  }
  .btn-next {
      font-size: 19pt;
  }
  i {
      margin-top: -7px;
  }

}
@media only screen and (max-width: 374px) {

  .title .text {
      font-size: 40pt;
  }
  .title .text  span {
    font-size: 40pt;
  }
  .input-group-addon {
      font-size: 20pt;
  }
  .addon-customize {
      border: none;
      width: 115px;
  }
  .form-custom {
    font-size: 20pt;
    padding-left: 20px;
  }
  .gender_text {
      font-size: 19pt;
  }
  .checkbox-inline, .radio-inline {
      padding-left: 10px;
  }
  .box-condition {
      margin-top: 30px;
  }
  .condition_text {
      font-size: 20pt;
  }
  .btn-next {
      margin-top: 10px;
  }
  .product .addon-customize, .register .addon-customize {
      width: 45px;
      padding: 5px;
  }
  .form-custom {
      font-size: 18pt;
      padding-left: 10px;
      height: 40px;
  }
  .product .form-group-none {
      border: 3px solid #FFF;
      padding-left: 60px;
      height: 46px;
  }
  .register .form-group-none {
      border: 3px solid #FFF;
      height: 46px;
  }
  .custom-label {
      font-size: 18pt;
      padding-left: 40px;
  }
  .product .title .text ,.register .title .text {
      font-size: 26pt;
  }
  .product .btn-dropdown img,.register .btn-dropdown img{
    width: 90%;
  }
  .btn-next{
    height: 45px;
  }
  .btn-next {
      font-size: 18pt;
  }
  .register .custom-label {
      font-size: 18pt;
  }
  .gender_text {
      font-size: 18pt;
  }
  .squaredOne label {
    width: 18px;
    height: 18px;
  }
  .squaredOne label:after {
    width: 18px;
    height: 18px;
  }
  .register .custom-label {
      padding-left: 40px;
  }
  .custom-label-small {
      font-size: 16pt !important;
  }
  .box-content{
    font-size: 17pt;
    padding: 15px;
  }
  .box-contact-cus{
    font-size: 16pt;
    padding: 10px;
  }
  i {
      margin-top: -9px;
  }
}

@media only screen and (max-width: 359px) {
  .title {
      margin-top: 10px;
  }
  .title .text {
      font-size: 35pt;
  }
  .title .text  span {
    font-size: 40pt;
  }
  .input-group-addon {
      font-size: 17pt;
  }
  .addon-customize {
      border: none;
      width: 105px;
  }
  .form-custom {
    font-size: 17pt;
    padding-left: 10px;
  }
  .gender_text {
      font-size: 16pt;
  }
  .checkbox-inline, .radio-inline {
      padding-left: 0px;
  }
  .box-condition {
      margin-top: 20px;
  }
  .condition_text {
      font-size: 17pt;
  }
  .btn-next {
      margin-top: 10px;
  }
  .product .radio-select {
      padding: 6px 40px;
  }
  .custom-label {
      font-size: 17pt;
      padding-left: 35px;
  }
  .btn-control {
      margin-left: 5px;
  }
  .box-content{
    font-size: 16pt;
    padding: 10px;
  }
  .no-register{
    margin-top: 0px !important;
  }
  .squaredOne label {
    width: 16px;
    height: 16px;
  }
  .squaredOne label:after {
    width: 16px;
    height: 16px;
  }
  .register .custom-label {
      padding-left: 30px;
  }
  .register .custom-label {
      font-size: 17pt;
  }
  .custom-label-small {
      font-size: 14pt !important;
  }
  .box-content{
    font-size: 15pt;
    padding: 10px;
  }
  .box-contact-cus{
    font-size: 14pt;
    padding: 5px;
  }
  .btn-next {
      font-size: 15pt;
      height: 40px;
  }
  i {
      margin-top: -8px;
  }
}