
@font-face {
    font-family: "Helvethaica-bd";
    src: url(../../font/DB-Helvethaica-X-Bd.ttf) format("truetype");
}
@font-face {
    font-family: "Helvethaica-bd-it";
    src: url(../../font/DB-Helvethaica-X-Bd-It.ttf) format("truetype");
}
@font-face {
    font-family: "Helvethaica-bd-v3.2";
    src: url(../../font/DB-Helvethaica-X-Bd-v3.2.ttf) format("truetype");
}
@font-face {
    font-family: "Helvethaica-med";
    src: url(../../font/DB-Helvethaica-X-Med.ttf) format("truetype");
}
@font-face {
    font-family: "sonderSans-Black";
    src: url(../../font/SonderSans-Black.ttf) format("truetype");
}

html {
  height: 100%;
}
body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  font-family: 'Helvethaica';
}

.logo{
	position: absolute;
	margin-top: -20px;
    margin-left: 0px;
}
.logo img{
    width: 80px;
}
.p1{
	background: url('../../images/bg.png');
	background-size: 100%;
	min-height: 100vh;
	box-sizing: border-box;
}

.p1 .content{
	max-width: 768px;
	width: 100%;
	margin:0 auto;
	min-height: 100vh;
/*	height: 100%;*/
	box-sizing: border-box;
	padding: 36px;

}
.p1 .content .border-box{
	padding: 150px 0;
    min-height: 95vh;
    background-size: 100% 100%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    border:11px solid ;
    box-sizing: border-box;
    border-image: url(../../images/border-box.png) 10 round;
    -webkit-border-image: url(../../images/border-box.png) 10 round; /* Safari 3.1-5 */
    -o-border-image: url(../../images/border-box.png) 10 round; /* Opera 11-12.1 */
}
.p2{
	background: url('../../images/bg.png');
	background-size: 100%;
	min-height: 100vh;
	box-sizing: border-box;
}
.p2 .content{
	max-width: 768px;
	width: 100%;
	margin:0 auto;
	box-sizing: border-box;
	padding: 36px;
}
.p2 .content .border-box{
	padding: 150px 0;
    background-size: 100% 100%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    border:11px solid ;
    box-sizing: border-box;
    border-image: url(../../images/border-box.png) 10 round;
    -webkit-border-image: url(../../images/border-box.png) 10 round; /* Safari 3.1-5 */
    -o-border-image: url(../../images/border-box.png) 10 round; /* Opera 11-12.1 */
}
.p3 .content{
	min-height: 100vh;
}
.p3 .content .border-box{
	padding: 150px 0;
    min-height: 95vh;
}
.img-j{
	width: 80%;
}
.center {
    display: table;
    width: 100%;
    min-height:40vh;
}
.v-align {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.modal-p1{
	width: 80%;
	margin:0 auto;
	max-width: 768px;
}
.modal-body-p1{
	background: url(../../images/bg-popup-p1.png);
	background-size: 100% 100%;
	padding-top: 100px;
}
.modal-body-p2{
	background: url(../../images/bg-popup-p1.png);
	background-size: 100% 100%;
	padding-top: 50px;
}
.modal-body-p10{
	background: url(../../images/bg-popup-p1.png);
	background-size: 100% 100%;
	padding-top: 50px;
}
.text-popup-p1{
	width: 90%;
	margin: 0 auto;
	display: block;
/*	margin-top: 100px;*/
}
.text-popup-p10{
	width: 90%;
	margin: 0 auto;
	display: block;
/*	margin-top: 100px;*/
}
.btn-ok{
	margin: 0 auto;
    display: block;
    margin-top: 100px;
    margin-bottom: 30px;
    background-color: transparent;
    border:none;
}
.btn-ok-image ,.btn-next img{
    width: 90%;
}
.btn-next{
	background-color: transparent;
    border:none;
    margin-top: 20px;
    margin-bottom: 10px;

}
.vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
	display: table-cell;

    vertical-align: middle;
}
.p2 .content .border-box{
	padding: 0;
}
.box-top{
	height: 256px;
	border-bottom:11px solid ;
    box-sizing: border-box;
    border-image: url(../../images/border.png) 10 round;
    -webkit-border-image: url(../../images/border.png) 10 round; /* Safari 3.1-5 */
    -o-border-image: url(../../images/border.png) 10 round; /* Opera 11-12.1 */
}

.icon-p2{
	width: 80%;
}
.form{
	width: 60%;
    margin: 0 auto;
    margin-top: 140px;
    margin-bottom: 100px;
}
.form label{
	width: 100%;
	text-align: left;
	color: #fff;
	font-family: 'Helvethaica-bd-it';
	font-size: 21.23pt;
}
.form .form-input{
	width: 100%;
	height: 50px;
	border:none;
	font-family: 'Helvethaica-med';
	font-size: 17.59pt;
	padding: 0 10px;
}
.form .bd{
	width: 100%;
	height: 50px;
	border:none;
	font-family: 'Helvethaica-bd-it';
	font-size: 26.82pt;
	padding: 0 10px;
	text-align: center;
}
.npad-l{
	padding-left: 0px;
}
.npad-r{
	padding-right: 0px;
}
.nmar{
	margin: 0;
}
.footer{
	    text-align: center;
	border-top:11px solid;
	border-image: url(../../images/under.png) 10 round;
    -webkit-border-image: url(../../images/under.png) 10 round; /* Safari 3.1-5 */
    -o-border-image: url(../../images/under.png) 10 round; /* Opera 11-12.1 */
}
select {
  text-align: center;
  text-align-last: center;
}
option {
  text-align: left;
}

.modal-p2 {
    width: 80%;
    margin: 0 auto;
    max-width: 500px;
}
#modal-p2 .btn-ok{
	margin: 0 auto;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: transparent;
    border:none;
}
#modal-p2 .btn-ok-image{
    width: 50%;
}
.modal-p10 {
    width: 80%;
    margin: 0 auto;
    max-width: 500px;
}
#modal-p10 .btn-ok{
	margin: 0 auto;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: transparent;
    border:none;
}
#modal-p10 .btn-ok-image{
    width: 50%;
}
.box-p3{
	margin-top: 120px;
	margin-bottom: 60px;
}
.btn-p3{
	width: 80%;
	margin: 0 auto;
	display: block;
	margin-top: 20px;
}
.boxprofile{

	width: 250px;
	height: 250px;
	background: url('../../images/boxprofile.png');
	background-size: 100% 100%;
	margin:0 auto;
	display: block;
	margin-top: 130px;
	margin-bottom: 25px;
}

.boxprofile .imageprofile{
	width: 90%;
	margin: 12px 10px;
}
.name{
	margin-top: 10px;
	width: 60%;
	margin:0 auto;
	padding: 5px;
	border:5px solid;
	border-image: url(../../images/border-p10.png) 10 round;
    -webkit-border-image: url(../../images/border-p10.png) 10 round; /* Safari 3.1-5 */
    -o-border-image: url(../../images/border-p10.png) 10 round; /* Opera 11-12.1 */
    font-family: 'Helvethaica-bd';
	font-size: 36.82pt;
	color: #FFF;
}
.text-p10{
	font-family: 'Helvethaica-bd';
	font-size: 36.82pt;
	color: #FFF;
	margin-top: 30px;
    margin-bottom: 30px;
}
.text-p10 p{
	line-height: 0.9;
}
.boxinput{
	width: 50%;
	margin:0 auto;
	display: block;
	margin-bottom: 50px;
}
.boxinput .form-input{
	width: 100%;
	height: 55px;
	padding: 0 10px;
	font-size: 30pt;
	font-family: 'Helvethaica-bd';
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  	color: #000;
	font-family: 'Helvethaica-bd';
	font-size: 30pt;
}
::-moz-placeholder { /* Firefox 19+ */
  	color: #000;
	font-family: 'Helvethaica-bd';
	font-size: 30pt;
}
:-ms-input-placeholder { /* IE 10+ */
  	color: #000;
	font-family: 'Helvethaica-bd';
	font-size: 30pt;
}
:-moz-placeholder { /* Firefox 18- */
  	color: #000;
	font-family: 'Helvethaica-bd';
	font-size: 30pt;
}
.p10-o{
	margin-left: -50px;
    margin-top: -160px;
    width: 140%;
}

.t-total-score{
	font-size: 44.15px;
	font-family: 'Helvethaica-bd';
	color: #FFF;
	margin-top: 10px;
	margin-bottom: 10px;
}
.total-score{
	width: 70%;
	margin: 0 auto;
	display: inline-block;
}
.icon-num{
	background: url(../../images/boxnumber.png );
	background-size: 100% 100%;
	height: 90px;
	width: 90px;
	font-size: 44.15pt;
	color: #FFF;
	font-family: 'Helvethaica-bd';
	padding-top: 5px;
}
.input-score{
	width: 330px;
	height: 70px;
	font-size: 44.16pt;
    text-align: center;
	border:5px solid;
	font-family: 'Helvethaica-bd';
	border-image: url(../../images/border-p10.png) 10 round;
    -webkit-border-image: url(../../images/border-p10.png) 10 round; /* Safari 3.1-5 */
    -o-border-image: url(../../images/border-p10.png) 10 round; /* Opera 11-12.1 */
}
.box-input{
	padding-top: 10px;
	float: left;
}
.box-icon{
	width: 120px;
	float: left;
}
.text-p4{
	width: 80%;
	margin-top: 25px;
	margin-bottom: 25px;
}
.box-p4 {
    display: inline-block;
    margin-top: 120px;
    margin-bottom: 60px;
}
.total-score-m{
	margin-top: 10px;
}
 .btn-back img {
    width: 60%;
}
.head-p7{
	padding-top: 30px;
    width: 60%;
    margin-bottom: 35px;
}
.btn-p7 {
    width: 80%;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
}

.box-p8{
	margin: 0 auto;
	width: 90%;
	border:8px solid;
	border-image: url(../../images/border-p10.png) 10 round;
    -webkit-border-image: url(../../images/border-p10.png) 10 round; /* Safari 3.1-5 */
    -o-border-image: url(../../images/border-p10.png) 10 round; /* Opera 11-12.1 */
    padding-top: 20px;
}

.row-p8{
	display: inline-block;
	margin-top: 10px;
	width: 100%;
}
.box-left{
	width: 30%;
	float: left;
}
.box-center{
	width: 40%;
	float: left;
}
.box-right{
	width: 30%;
	float: left;
}

.logo-team{
	width: 120px;
	height: 120px;
	margin: 0 auto;
/*	border-radius: 50%;*/
}
.logo-team img{
	width: 100%;
}
.team-name{
	font-family: 'sonderSans-Black';
	font-size: 16.65pt;
	color: #FFF;
	text-align: center;
}

.box-results{
	border-top:4px solid;
	border-bottom:4px solid;
	display: inline-flex;
	border-image: url(../../images/border-p10.png) 10 round;
    -webkit-border-image: url(../../images/border-p10.png) 10 round; /* Safari 3.1-5 */
    -o-border-image: url(../../images/border-p10.png) 10 round; /* Opera 11-12.1 */
    padding: 5px;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
}
.results{
	font-family: 'Helvethaica-bd';
	font-size: 19.65pt;
	color: #FFF;
	padding: 0px 10px;
	border:4px solid;
	border-image: url(../../images/border-p10.png) 10 round;
    -webkit-border-image: url(../../images/border-p10.png) 10 round; /* Safari 3.1-5 */
    -o-border-image: url(../../images/border-p10.png) 10 round; /* Opera 11-12.1 */
    margin: 4px;
    background-color: #20409a;;
}


label > input. + .results:hover ,label > input + .results:active{
    background-color: red;
}
label > input:checked + .results{
	background-color: red;
}


.checkbox-results{
    margin-top: 0px;
    position: absolute;
    opacity: 0;
}
.date{
	font-family: 'Helvethaica-bd';
	font-size: 21.29pt;
	color: #FFF;
	border-top:4px solid;
	border-bottom:4px solid;
	border-image: url(../../images/border-p10.png) 10 round;
    -webkit-border-image: url(../../images/border-p10.png) 10 round; /* Safari 3.1-5 */
    -o-border-image: url(../../images/border-p10.png) 10 round; /* Opera 11-12.1 */
    padding: 1px;
    margin-top: 60px;
    width: 95%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 5px;
}

.btn-inline{
	float: left;
	width: 50%;
}
.box-btn{
	display: inline-flex;
}
.head-p8 {
    padding-top: 30px;
    width: 60%;
    margin-bottom: 35px;
}

.input-score-p9{
    width: 60px;
    height: 67px;
    font-family: 'sonderSans-Black';
    font-size: 28.65pt;
    text-align: center;
    padding: 0px;
    margin-left: 15px;
    margin-right:15px;
}
.line{
	height: 33px;
	width: 20px;
	border-bottom:4px solid;
	border-image: url(../../images/under.png) 10 round;
    -webkit-border-image: url(../../images/under.png) 10 round;
    -o-border-image: url(../../images/under.png) 10 round;
}

.group{
	width: 450px;
	height: 80px;
	  padding: 8px;
	border:4px solid;
	border-image: url(../../images/border-p10.png) 10 round;
    -webkit-border-image: url(../../images/border-p10.png) 10 round; /* Safari 3.1-5 */
    -o-border-image: url(../../images/border-p10.png) 10 round; /* Opera 11-12.1 */
    text-align: center;
    margin:0 auto;
    margin-top: 30px;
    font-family: 'sonderSans-Black';
    font-size: 28.65pt;
    color: #FFF;
    position: relative;
    z-index:9999;
    background-color: #112674;
}

.group-open{
	width: 550px;
    height: 80px;

	border:4px solid;
	border-image: url(../../images/border-p10.png) 10 round;
    -webkit-border-image: url(../../images/border-p10.png) 10 round; /* Safari 3.1-5 */
    -o-border-image: url(../../images/border-p10.png) 10 round; /* Opera 11-12.1 */
    text-align: center;
    margin:0 auto;
    font-family: 'sonderSans-Black';
    font-size: 20.65pt;
    color: #FFF;
    padding-top: 16px;
    border-bottom: none;
}

.group-open.last{
	border-bottom:4px solid;
	border-image: url(../../images/border-p10.png) 10 round;
    -webkit-border-image: url(../../images/border-p10.png) 10 round; /* Safari 3.1-5 */
    -o-border-image: url(../../images/border-p10.png) 10 round; /* Opera 11-12.1 */
}
.group-open.first{
	margin-top: -35px;
    opacity: 1;
    z-index: 99;
    position: relative;
    height: 40px;

}
.group-open.sec{
	border-top:none;

}
.text-red{
	color: red;
}

.box-group-open{
	display: none
}
.icon-drop-down{
	width: 35px;
    float: right;
    margin-right: 15px;
    margin-top: 15px;
}
.group-open-p5{
	
    opacity: 1;
    z-index: 99;
    position: relative;
	width: 550px;
/*    height: 80px;*/
	border:4px solid;
	border-image: url(../../images/border-p10.png) 10 round;
    -webkit-border-image: url(../../images/border-p10.png) 10 round; /* Safari 3.1-5 */
    -o-border-image: url(../../images/border-p10.png) 10 round; /* Opera 11-12.1 */
    text-align: center;
    margin:0 auto;
    font-family: 'sonderSans-Black';
    font-size: 20.65pt;
    color: #FFF;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: -35px;
    padding-top: 40px;
}
.btn-group-popup{

    display: flex;

}
 #modal-p2 .btn-group-popup .btn-ok-image {
    width: 90% !important;
}
.box-btn .btn-back img{
	width: 80%;
}
.bv-form .help-block {
    margin-bottom: 0;
    font-size: 14.59pt;
    color: red;
    text-align: left;
    position: absolute;
    margin-top: -40px;
    margin-left: 20px;
}
 .bd+.help-block{
    margin-bottom: 0;
    color: red;
    text-align: left;
    position: absolute;
    margin-top: -89px;
    margin-left: 170px;
    width: 300px;
}

@media(max-width:767px){
	.group-open-p5{
		width: 450px;

	}
	.group{
		width: 350px;
		height: 75px;
		padding: 8px;
		border:4px solid;
		border-image: url(../../images/border-p10.png) 10 round;
	    -webkit-border-image: url(../../images/border-p10.png) 10 round; /* Safari 3.1-5 */
	    -o-border-image: url(../../images/border-p10.png) 10 round; /* Opera 11-12.1 */
	    text-align: center;
	    margin:0 auto;
	    margin-top: 25px;
	    font-family: 'sonderSans-Black';
	    font-size: 25.65pt;
	    color: #FFF;
	    position: relative;
	    z-index:9999;
	    background-color: #112674;
	}

	.group-open{
		width: 450px;
	    height: 75px;
		border:4px solid;
		border-image: url(../../images/border-p10.png) 10 round;
	    -webkit-border-image: url(../../images/border-p10.png) 10 round;
	    -o-border-image: url(../../images/border-p10.png) 10 round;
	    font-size: 18.65pt;
	    color: #FFF;
	    padding-top: 16px;
	    border-bottom: none;
	}

	.group-open.last{
		border-bottom:4px solid;
		border-image: url(../../images/border-p10.png) 10 round;
	    -webkit-border-image: url(../../images/border-p10.png) 10 round; /* Safari 3.1-5 */
	    -o-border-image: url(../../images/border-p10.png) 10 round; /* Opera 11-12.1 */
	}
	.group-open.first{
		margin-top: -35px;
	    opacity: 1;
	    z-index: 99;
	    position: relative;
	    height: 40px;

	}
	.group-open.sec{
		border-top:none;

	}
	.text-red{
		color: red;
	}

	.box-group-open{
		display: none
	}
	.icon-drop-down{
		width: 30px;
	    float: right;
	    margin-right: 15px;
	    margin-top: 15px;
	}
	.input-score-p9{
	    width: 40px;
	    height: 47px;
	    font-family: 'sonderSans-Black';
	    font-size: 25.65pt;
	    text-align: center;
	    padding: 0px;
	    margin-left: 15px;
	    margin-right:15px;
	}
	.line {
	    height: 24px;
	    width: 20px;
	    border-bottom: 4px solid;
	    border-image: url(../../images/under.png) 10 round;
	    -webkit-border-image: url(../../images/under.png) 10 round;
	    -o-border-image: url(../../images/under.png) 10 round;
	}
	.box-results-p9{
		margin-top: 10px;
	}
	.logo-team{
		width: 100px;
		height: 100px;
		margin: 0 auto;
	}
	.team-name{
		font-family: 'sonderSans-Black';
		font-size: 10.65pt;
		color: #FFF;
		text-align: center;
	}
	.results{
		font-size: 15.65pt;
	}

	.date{
		font-size: 17.29pt;
	}

	.box-left,.box-right{
		width: 25%;
	}
	.box-center{
		width: 50%;
	}


	.t-total-score{
		font-size: 30pt;
		font-family: 'Helvethaica-bd';
		color: #FFF;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.total-score{
		width: 75%;
		margin: 0 auto;
		display: inline-block;
	}
	.icon-num{
		background: url(../../images/boxnumber.png );
		background-size: 100% 100%;
		height: 80px;
		width: 80px;
		font-size: 30pt;
		color: #FFF;
		font-family: 'Helvethaica-bd';
		padding-top: 10px;
	}
	.input-score{
		width: 280px;
		height: 75px;
		font-size: 30pt;
	    text-align: center;
		border:3px solid;
		font-family: 'Helvethaica-bd';
		border-image: url(../../images/border-p10.png) 10 round;
	    -webkit-border-image: url(../../images/border-p10.png) 10 round; /* Safari 3.1-5 */
	    -o-border-image: url(../../images/border-p10.png) 10 round; /* Opera 11-12.1 */
	}
	.box-input{
		padding-top: 3px;
		float: left;
	}
	.box-icon{
		width: 100px;
		float: left;
	}
	.text-p4{
		width: 80%;
		margin-top: 22px;
		margin-bottom: 22px;
	}
	.total-score-m{
		margin-top: 8px;
	}
	 .btn-back img {
	    width: 40%;
	}
	.box-p4 {
		margin-top: 80px;
		margin-bottom: 50px;
	}
}
@media(max-width:640px){

	.logo-team{
		width: 85px;
		height: 85px;
		margin: 0 auto;
	}
	.team-name{
		font-family: 'sonderSans-Black';
		font-size: 8.65pt;
		color: #FFF;
		text-align: center;
	}
	.results{
		font-size: 13.65pt;
	}

	.date{
		font-size: 14.29pt;
	}

	.box-left,.box-right{
		width: 22%;
	}
	.box-center{
		width: 56%;
	}

	.box-top{
		height: 155px;
   		border-bottom: 8px solid;
	}
	.p1 .content .border-box,.p2 .content .border-box{
	    border:8px solid ;
	    border-image: url(../../images/border-box.png) 10 round;
	}
	.footer{
	    text-align: center;
		border-top:8px solid;
		border-image: url(../../images/under.png) 10 round;
	    -webkit-border-image: url(../../images/under.png) 10 round; /* Safari 3.1-5 */
	    -o-border-image: url(../../images/under.png) 10 round; /* Opera 11-12.1 */
	}
	.form label{
		font-size: 17pt;
	}
	.bv-form .help-block {
	    font-size: 12.59pt;
	    margin-top: -32px;
	    margin-left: 15px;
	}
	.bd+.help-block {
	    margin-bottom: 0;
	    color: red;
	    text-align: left;
	    position: absolute;
	    margin-top: -73px;
	    margin-left: 130px;
	    width: 250px;
	}
	.form .form-input{
		height: 40px;
		font-size: 15pt;
		padding: 0 5px;
	}
	.form .bd{
		height: 40px;
		font-family: 'Helvethaica-bd-it';
		font-size: 18.18pt;
		padding: 0 5px;
	}
	.form {
	    width: 75%;
	    margin: 0 auto;
	    margin-top: 120px;
	    margin-bottom: 60px;
	}
	.form-group {
	    margin-bottom: 5px;
	}
	.btn-next {
	    background-color: transparent;
	    border: none;
	    margin-top: 10px;
	    margin-bottom: 5px;
	}
	.btn-next img{
		width: 55%;
	}
	.p2 .logo img {
	    width: 55px;
	}
	.t-total-score{
		font-size: 25pt;
		font-family: 'Helvethaica-bd';
		color: #FFF;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.total-score{
		width: 70%;
		margin: 0 auto;
		display: inline-block;
	}
	.icon-num{
		background: url(../../images/boxnumber.png );
		background-size: 100% 100%;
		height: 65px;
		width: 65px;
		font-size: 25pt;
		color: #FFF;
		font-family: 'Helvethaica-bd';
		padding-top: 10px;
	}
	.input-score{
		width: 180px;
		height: 60px;
		font-size: 25pt;
	    text-align: center;
		border:3px solid;
		font-family: 'Helvethaica-bd';
		border-image: url(../../images/border-p10.png) 10 round;
	    -webkit-border-image: url(../../images/border-p10.png) 10 round; /* Safari 3.1-5 */
	    -o-border-image: url(../../images/border-p10.png) 10 round; /* Opera 11-12.1 */
	}
	.box-input{
		padding-top: 3px;
		float: left;
	}
	.box-icon{
		width: 80px;
		float: left;
	}
	.text-p4{
		width: 80%;
		margin-top: 22px;
		margin-bottom: 22px;
	}
	.total-score-m{
		margin-top: 8px;
	}
	 .btn-back img {
	    width: 40%;
	}
	.box-p4 {
		margin-top: 80px;
		margin-bottom: 50px;
	}
	.p2 .content {

	    padding: 24px;
	}
	.group-open-p5{
		width: 386px;

	}
	.group{
		width: 272px;
		height: 60px;
		padding: 8px;
		border:4px solid;
		border-image: url(../../images/border-p10.png) 10 round;
	    -webkit-border-image: url(../../images/border-p10.png) 10 round; /* Safari 3.1-5 */
	    -o-border-image: url(../../images/border-p10.png) 10 round; /* Opera 11-12.1 */
	    text-align: center;
	    margin:0 auto;
	    margin-top: 25px;
	    font-family: 'sonderSans-Black';
	    font-size: 18.65pt;
	    color: #FFF;
	    position: relative;
	    z-index:9999;
	    background-color: #112674;
	}

	.group-open{
		width: 386px;
	    height: 60px;
		border:4px solid;
		border-image: url(../../images/border-p10.png) 10 round;
	    -webkit-border-image: url(../../images/border-p10.png) 10 round;
	    -o-border-image: url(../../images/border-p10.png) 10 round;
	    font-size: 16.65pt;
	    color: #FFF;
	    padding-top: 10px;
	    border-bottom: none;
	}

	.group-open.last{
		border-bottom:4px solid;
		border-image: url(../../images/border-p10.png) 10 round;
	    -webkit-border-image: url(../../images/border-p10.png) 10 round; /* Safari 3.1-5 */
	    -o-border-image: url(../../images/border-p10.png) 10 round; /* Opera 11-12.1 */
	}
	.group-open.first{
		margin-top: -35px;
	    opacity: 1;
	    z-index: 99;
	    position: relative;
	    height: 40px;

	}
	.group-open.sec{
		border-top:none;

	}
	.text-red{
		color: red;
	}

	.box-group-open{
		display: none
	}
	.icon-drop-down{
	    width: 25px;
	    float: right;
	    margin-right: 15px;
	    margin-top: 8px;
	}

}

@media(max-width:539px){
	.input-score-p9{
	    width: 30px;
	    height: 37px;
	    font-family: 'sonderSans-Black';
	    font-size: 18.65pt;
	    text-align: center;
	    padding: 0px;
	    margin-left: 10px;
	    margin-right:10px;
	}
	.line {
	    height: 18px;
	    width: 15px;
	    border-bottom: 4px solid;
	    border-image: url(../../images/under.png) 10 round;
	    -webkit-border-image: url(../../images/under.png) 10 round;
	    -o-border-image: url(../../images/under.png) 10 round;
	}
	.logo-team{
		width: 70px;
		height: 70px;
		margin: 0 auto;
	}
	.team-name{
		font-family: 'sonderSans-Black';
		font-size: 8.65pt;
		color: #FFF;
		text-align: center;
	}
	.results{
		font-size: 13.65pt;
	    padding: 0px 5px;
	    border: 3px solid;
	    border-image: url(../../images/border-p10.png) 10 round;
	    -webkit-border-image: url(../../images/border-p10.png) 10 round;
	    -o-border-image: url(../../images/border-p10.png) 10 round;
	    margin: 3px;
	    margin-top: 5px;
	    margin-bottom: 0;
	    background-color: #20409a;
	}

	.date{
		font-size: 14.29pt;
	}

	.box-left,.box-right{
		width: 28%;
	}
	.box-center{
		width: 44%;
	}

	.box-results {
	    border-top: 3px solid;
	    border-bottom: 3px solid;
	    padding: 3px;
	    margin-top: 11px;
	    margin-left: 5px;
	    margin-right: 5px;
	}



	.box-top{
		height: 135px;
   		border-bottom: 8px solid;
	}
	.p1 .content .border-box,.p2 .content .border-box{
	    border:8px solid ;
	    border-image: url(../../images/border-box.png) 10 round;
	}
	.footer{
	    text-align: center;
		border-top:8px solid;
		border-image: url(../../images/under.png) 10 round;
	    -webkit-border-image: url(../../images/under.png) 10 round; /* Safari 3.1-5 */
	    -o-border-image: url(../../images/under.png) 10 round; /* Opera 11-12.1 */
	}



}

@media(max-width:480px){
	.logo-team{
		width: 60px;
		height: 60px;
		margin: 0 auto;
	}
	.team-name{
		font-family: 'sonderSans-Black';
		font-size: 8.65pt;
		color: #FFF;
		text-align: center;
	}
	.results{
		font-size: 13.65pt;
	    padding: 0px 5px;
	    border: 3px solid;
	    border-image: url(../../images/border-p10.png) 10 round;
	    -webkit-border-image: url(../../images/border-p10.png) 10 round;
	    -o-border-image: url(../../images/border-p10.png) 10 round;
	    margin: 3px;
	    margin-top: 5px;
	    margin-bottom: 0;
	    background-color: #20409a;
	}

	.date{

		font-size: 14.29pt;
		border-top:3px solid;
		border-bottom:3px solid;
		border-image: url(../../images/border-p10.png) 10 round;
	    -webkit-border-image: url(../../images/border-p10.png) 10 round; /* Safari 3.1-5 */
	    -o-border-image: url(../../images/border-p10.png) 10 round; /* Opera 11-12.1 */

	}
	.box-left,.box-right{
		width: 25%;
	}
	.box-center{
		width: 50%;
	}

	.box-results {
	    border-top: 3px solid;
	    border-bottom: 3px solid;
	    padding: 3px;
	    margin-top: 11px;
	    margin-left: 5px;
	    margin-right: 5px;
	}
	.head-p8 {
	    padding-top: 20px;
	    width: 50%;
	    margin-bottom: 25px;
	}


	.p1 .content,.p2 .content{
		padding: 22px;
	}
	.logo {
		margin-top: -5px;
    	margin-left: -5px;
	}
	.logo img {
	    width: 60px;
	}
	.p1 .content .border-box,.p2 .content .border-box{
	    border:8px solid ;
	    border-image: url(../../images/border-box.png) 10 round;
	}
	.modal-body {
	    padding-top: 30px;
	}
	.btn-ok-image {
	    width: 65%;
	}
	.btn-ok {
	    margin-top: 40px;
	    margin-bottom: 0px;
	}
	.box-top{
		height: 135px;
   		border-bottom: 8px solid;
	}
	.footer{
	    text-align: center;
		border-top:8px solid;
		border-image: url(../../images/under.png) 10 round;
	    -webkit-border-image: url(../../images/under.png) 10 round; /* Safari 3.1-5 */
	    -o-border-image: url(../../images/under.png) 10 round; /* Opera 11-12.1 */
	}
	.bv-form .help-block {
	    font-size: 8.59pt;
	    margin-top: -20px;
	    margin-left: 10px;
	}
	.bd+.help-block {
	    margin-bottom: 0px;
	    color: red;
	    text-align: left;
	    position: initial;
	    margin-top: 5px;
	     margin-left: 0px; 
	    width: 200px;
	}
	.form label{
		font-size: 11pt;
	}
	.form .form-input{
		height: 30px;
		font-size: 10pt;
		padding: 0 5px;
	}
	.form .bd{
		height: 30px;
		font-family: 'Helvethaica-bd-it';
		font-size: 12.18pt;
		padding: 0 5px;
	}
	.form {
	    width: 70%;
	    margin: 0 auto;
	    margin-top: 70px;
	    margin-bottom: 50px;
	}
	.form-group {
	    margin-bottom: 5px;
	}
	.btn-next {
	    background-color: transparent;
	    border: none;
	    margin-top: 20px;
	    margin-bottom: 15px;
	}
	.btn-next img{
		width: 50%;
	}
	.p2 .logo img {
	    width: 45px;
	}
	.box-p3{
		margin-top: 80px;
		margin-bottom: 50px;
	}
	.boxprofile{

		width: 140px;
		height: 140px;
		background: url('../../images/boxprofile.png');
		margin-top: 100px;
		margin-bottom: 20px;
		background-size: 100% 100%;
	}

	.boxprofile .imageprofile{
		width: 90%;
		margin: 5px 5px;
	}
	.name{
		margin-top: 10px;
		width: 60%;
		margin:0 auto;
		padding: 5px;
		border:2px solid;
		border-image: url(../../images/border-p10.png) 10 round;
	    -webkit-border-image: url(../../images/border-p10.png) 10 round; /* Safari 3.1-5 */
	    -o-border-image: url(../../images/border-p10.png) 10 round; /* Opera 11-12.1 */
	    font-family: 'Helvethaica-bd';
		font-size: 15pt;
		color: #FFF;
	}
	.text-p10{
		font-family: 'Helvethaica-bd';
		font-size: 15pt;
		color: #FFF;
		margin-top: 25px;
	    margin-bottom: 30px;
	}
	.text-p10 p{
		line-height: 0.9;
	}
	.boxinput{
		width: 50%;
		margin:0 auto;
		display: block;
		margin-bottom: 30px;
	}
	.boxinput .form-input{
		width: 100%;
		height: 40px;
		padding: 0 10px;
		font-size: 11.8pt;
		font-family: 'Helvethaica-bd';
	}
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  	color: #000;
		font-family: 'Helvethaica-bd';
		font-size: 11.8pt;
	}
	::-moz-placeholder { /* Firefox 19+ */
	  	color: #000;
		font-family: 'Helvethaica-bd';
		font-size: 11.8pt;
	}
	:-ms-input-placeholder { /* IE 10+ */
	  	color: #000;
		font-family: 'Helvethaica-bd';
		font-size: 11.8pt;
	}
	:-moz-placeholder { /* Firefox 18- */
	  	color: #000;
		font-family: 'Helvethaica-bd';
		font-size: 11.8pt;
	}

	.p10-o{
		margin-left: -28px;
	    margin-top: -100px;
	    width: 140%;
	}
	.t-total-score{
		font-size: 20pt;
		font-family: 'Helvethaica-bd';
		color: #FFF;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.total-score{
		width: 70%;
		margin: 0 auto;
		display: inline-block;
	}
	.icon-num{
		background: url(../../images/boxnumber.png );
		background-size: 100% 100%;
		height: 50px;
		width: 50px;
		font-size: 20pt;
		color: #FFF;
		font-family: 'Helvethaica-bd';
		padding-top: 5px;
	}
	.input-score{
		width: 180px;
		height: 45px;
		font-size: 20pt;
	    text-align: center;
		border:3px solid;
		font-family: 'Helvethaica-bd';
		border-image: url(../../images/border-p10.png) 10 round;
	    -webkit-border-image: url(../../images/border-p10.png) 10 round; /* Safari 3.1-5 */
	    -o-border-image: url(../../images/border-p10.png) 10 round; /* Opera 11-12.1 */
	}
	.box-input{
		padding-top: 3px;
		float: left;
	}
	.box-icon{
		width: 60px;
		float: left;
	}
	.text-p4{
		width: 80%;
		margin-top: 22px;
		margin-bottom: 22px;
	}
	.total-score-m{
		margin-top: 8px;
	}
	 .btn-back img {
	    width: 40%;
	}
	.box-p4 {
		margin-top: 80px;
		margin-bottom: 50px;
	}
	.box-p8 {
	    border: 5px solid;
	    border-image: url(../../images/border-p10.png) 10 round;
	    -webkit-border-image: url(../../images/border-p10.png) 10 round;
	    -o-border-image: url(../../images/border-p10.png) 10 round;
	    padding-top: 20px;
	}
	.group-open-p5{
		width: 332px;

	}
	.group{
		width: 237px;
		height: 53px;
		padding: 8px;
		border:4px solid;
		border-image: url(../../images/border-p10.png) 10 round;
	    -webkit-border-image: url(../../images/border-p10.png) 10 round; /* Safari 3.1-5 */
	    -o-border-image: url(../../images/border-p10.png) 10 round; /* Opera 11-12.1 */
	    text-align: center;
	    margin:0 auto;
	    margin-top: 25px;
	    font-family: 'sonderSans-Black';
	    font-size: 16.65pt;
	    color: #FFF;
	    position: relative;
	    z-index:9999;
	    background-color: #112674;
	}

	.group-open{
		width: 332px;
	    height: 53px;
		border:4px solid;
		border-image: url(../../images/border-p10.png) 10 round;
	    -webkit-border-image: url(../../images/border-p10.png) 10 round;
	    -o-border-image: url(../../images/border-p10.png) 10 round;
	    font-size: 14.65pt;
	    color: #FFF;
	    padding-top: 10px;
	    border-bottom: none;
	}

	.group-open.last{
		border-bottom:4px solid;
		border-image: url(../../images/border-p10.png) 10 round;
	    -webkit-border-image: url(../../images/border-p10.png) 10 round; /* Safari 3.1-5 */
	    -o-border-image: url(../../images/border-p10.png) 10 round; /* Opera 11-12.1 */
	}
	.group-open.first{
		margin-top: -35px;
	    opacity: 1;
	    z-index: 99;
	    position: relative;
	    height: 40px;

	}
	.group-open.sec{
		border-top:none;

	}
	.text-red{
		color: red;
	}

	.box-group-open{
		display: none
	}
	.icon-drop-down{
	    width: 20px;
	    float: right;
	    margin-right: 15px;
	    margin-top: 8px;
	}


}

@media(max-width:413px){
	.input-score-p9{
	    width: 20px;
	    height: 27px;
	    font-family: 'sonderSans-Black';
	    font-size: 15.65pt;
	    text-align: center;
	    padding: 0px;
	    margin-left: 10px;
	    margin-right:10px;
	}
	.line {
	    height: 15px;
	    width: 10px;
	    border-bottom: 4px solid;
	    border-image: url(../../images/under.png) 10 round;
	    -webkit-border-image: url(../../images/under.png) 10 round;
	    -o-border-image: url(../../images/under.png) 10 round;
	}
	.box-p8 {
	    border: 5px solid;
	    border-image: url(../../images/border-p10.png) 10 round;
	    -webkit-border-image: url(../../images/border-p10.png) 10 round;
	    -o-border-image: url(../../images/border-p10.png) 10 round;
	    padding-top: 20px;
	}
	.logo-team{
		width: 55px;
		height: 55px;
		margin: 0 auto;
	}
	.team-name{
		font-family: 'sonderSans-Black';
		font-size: 7.65pt;
		color: #FFF;
		text-align: center;
	}
	.results{
		font-size: 10.65pt;
	    padding: 0px 5px;
	    border: 3px solid;
	    border-image: url(../../images/border-p10.png) 10 round;
	    -webkit-border-image: url(../../images/border-p10.png) 10 round;
	    -o-border-image: url(../../images/border-p10.png) 10 round;
	    margin: 3px;
	    margin-top: 0px;
	    margin-bottom: 0;
	    background-color: #20409a;
	}

	.date{

		font-size: 10.29pt;
		border-top:3px solid;
		border-bottom:3px solid;
		border-image: url(../../images/border-p10.png) 10 round;
	    -webkit-border-image: url(../../images/border-p10.png) 10 round; /* Safari 3.1-5 */
	    -o-border-image: url(../../images/border-p10.png) 10 round; /* Opera 11-12.1 */

	}
	.box-left,.box-right{
		width: 25%;
	}
	.box-center{
		width: 50%;
	}

	.box-results {
	    border-top: 3px solid;
	    border-bottom: 3px solid;
	    padding: 3px;
	    margin-top: 10px;
	    margin-left: 5px;
	    margin-right: 5px;
	}
	.head-p8 {
	    padding-top: 20px;
	    width: 40%;
	    margin-bottom: 25px;
	}

	.box-results label{
		margin-bottom: 0px;
	}

	.p1 .content,.p2 .content{
		padding: 20px;
	}
	.logo {
		margin-top: -5px;
    	margin-left: -5px;
	}
	.logo img {
	    width: 55px;
	}
	.p1 .content .border-box,.p2 .content .border-box{
	    border:7px solid ;
	    border-image: url(../../images/border-box.png) 10 round;
	}
	.box-top{
		height: 120px;
   		border-bottom: 7px solid;
	}
	.footer{
	    text-align: center;
		border-top:7px solid;
		border-image: url(../../images/under.png) 10 round;
	    -webkit-border-image: url(../../images/under.png) 10 round; /* Safari 3.1-5 */
	    -o-border-image: url(../../images/under.png) 10 round; /* Opera 11-12.1 */
	}

	.form label{
		font-size: 10pt;
	}
	.form .form-input{
		height: 27px;
		font-size: 10pt;
		padding: 0 5px;
	}
	.form .bd{
		height: 27px;
		font-family: 'Helvethaica-bd-it';
		font-size: 11.18pt;
		padding: 0 5px;
	}
	.form {
	    width: 70%;
	    margin: 0 auto;
	    margin-top: 60px;
	    margin-bottom: 40px;
	}
	.form-group {
	    margin-bottom: 5px;
	}
	.btn-next {
	    background-color: transparent;
	    border: none;
	    margin-top: 10px;
	    margin-bottom: 5px;
	}
	.btn-next img{
		width: 45%;
	}
	.p2 .logo img {
	    width: 40px;
	}
	.box-p3{
		margin-top: 70px;
		margin-bottom: 40px;
	}
	.boxprofile{

		width: 120px;
		height: 120px;
		background: url('../../images/boxprofile.png');
		margin-top: 85px;
		margin-bottom: 20px;
		background-size: 100% 100%;
	}

	.boxprofile .imageprofile{
		width: 90%;
		margin: 5px 5px;
	}
	.name{
		margin-top: 10px;
		width: 60%;
		margin:0 auto;
		padding: 5px;
		border:2px solid;
		border-image: url(../../images/border-p10.png) 10 round;
	    -webkit-border-image: url(../../images/border-p10.png) 10 round; /* Safari 3.1-5 */
	    -o-border-image: url(../../images/border-p10.png) 10 round; /* Opera 11-12.1 */
	    font-family: 'Helvethaica-bd';
		font-size: 13pt;
		color: #FFF;
	}
	.text-p10{
		font-family: 'Helvethaica-bd';
		font-size: 13pt;
		color: #FFF;
		margin-top: 25px;
	    margin-bottom: 30px;
	}
	.text-p10 p{
		line-height: 0.9;
	}
	.boxinput{
		width: 50%;
		margin:0 auto;
		display: block;
		margin-bottom: 30px;
	}
	.boxinput .form-input{
		width: 100%;
		height: 30px;
		padding: 0 10px;
		font-size: 10.26pt;
		font-family: 'Helvethaica-bd';
	}
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  	color: #000;
		font-family: 'Helvethaica-bd';
		font-size: 10.26pt;
	}
	::-moz-placeholder { /* Firefox 19+ */
	  	color: #000;
		font-family: 'Helvethaica-bd';
		font-size: 10.26pt;
	}
	:-ms-input-placeholder { /* IE 10+ */
	  	color: #000;
		font-family: 'Helvethaica-bd';
		font-size: 10.26pt;
	}
	:-moz-placeholder { /* Firefox 18- */
	  	color: #000;
		font-family: 'Helvethaica-bd';
		font-size: 10.26pt;
	}

	.p10-o{
		margin-left: -24px;
	    margin-top: -90px;
	    width: 140%;
	}
	.t-total-score{
		font-size: 17pt;
		font-family: 'Helvethaica-bd';
		color: #FFF;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.total-score{
		width: 70%;
		margin: 0 auto;
		display: inline-block;
	}
	.icon-num{
		background: url(../../images/boxnumber.png );
		background-size: 100% 100%;
		height: 45px;
		width: 45px;
		font-size: 17pt;
		color: #FFF;
		font-family: 'Helvethaica-bd';
		padding-top: 5px;
	}
	.input-score{
		width: 150px;
		height: 40px;
		font-size: 17pt;
	    text-align: center;
		border:3px solid;
		font-family: 'Helvethaica-bd';
		border-image: url(../../images/border-p10.png) 10 round;
	    -webkit-border-image: url(../../images/border-p10.png) 10 round; /* Safari 3.1-5 */
	    -o-border-image: url(../../images/border-p10.png) 10 round; /* Opera 11-12.1 */
	}
	.box-input{
		padding-top: 3px;
		float: left;
	}
	.box-icon{
		width: 60px;
		float: left;
	}
	.text-p4{
		width: 80%;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.total-score-m{
		margin-top: 5px;
	}
	 .btn-back img {
	    width: 40%;
	}
	.box-p4 {
		margin-top: 60px;
		margin-bottom: 30px;
	}
	.group-open-p5{
		width: 303px;
	}
	.group{
		width: 213px;
		height: 50px;
		padding: 7px;
		border:4px solid;
		border-image: url(../../images/border-p10.png) 10 round;
	    -webkit-border-image: url(../../images/border-p10.png) 10 round; /* Safari 3.1-5 */
	    -o-border-image: url(../../images/border-p10.png) 10 round; /* Opera 11-12.1 */
	    text-align: center;
	    margin:0 auto;
	    margin-top: 25px;
	    font-family: 'sonderSans-Black';
	    font-size: 13.65pt;
	    color: #FFF;
	    position: relative;
	    z-index:9999;
	    background-color: #112674;
	}

	.group-open{
		width: 303px;
	    height: 50px;
		border:4px solid;
		border-image: url(../../images/border-p10.png) 10 round;
	    -webkit-border-image: url(../../images/border-p10.png) 10 round;
	    -o-border-image: url(../../images/border-p10.png) 10 round;
	    font-size: 11.65pt;
	    color: #FFF;
	    padding-top: 10px;
	    border-bottom: none;
	}

	.group-open.last{
		border-bottom:4px solid;
		border-image: url(../../images/border-p10.png) 10 round;
	    -webkit-border-image: url(../../images/border-p10.png) 10 round; /* Safari 3.1-5 */
	    -o-border-image: url(../../images/border-p10.png) 10 round; /* Opera 11-12.1 */
	}
	.group-open.first{
		margin-top: -35px;
	    opacity: 1;
	    z-index: 99;
	    position: relative;
	    height: 40px;

	}
	.group-open.sec{
		border-top:none;

	}
	.text-red{
		color: red;
	}

	.box-group-open{
		display: none
	}
	.icon-drop-down{
	    width: 15px;
	    float: right;
	    margin-right: 15px;
	    margin-top: 8px;
	}


}

@media(max-width:374px){
	.p1 .content,.p2 .content{
		padding: 18px;
	}
	.logo {
		margin-top: -5px;
    	margin-left: -5px;
	}
	.logo img {
	    width: 55px;
	}
	.p1 .content .border-box,.p2 .content .border-box{
	    border:6px solid ;
	    border-image: url(../../images/border-box.png) 10 round;
	}
	.box-top{
		height: 120px;
   		border-bottom: 6px solid;
	}

	.footer{
	    text-align: center;
		border-top:6px solid;
		border-image: url(../../images/under.png) 10 round;
	    -webkit-border-image: url(../../images/under.png) 10 round; /* Safari 3.1-5 */
	    -o-border-image: url(../../images/under.png) 10 round; /* Opera 11-12.1 */
	}
	.box-p3{
		margin-top: 60px;
		margin-bottom: 30px;
	}
	.group-open-p5{
		width: 290px;
	}
	.group{
		width: 200px;
		height: 45px;
		padding: 5px;
		border:4px solid;
		border-image: url(../../images/border-p10.png) 10 round;
	    -webkit-border-image: url(../../images/border-p10.png) 10 round; /* Safari 3.1-5 */
	    -o-border-image: url(../../images/border-p10.png) 10 round; /* Opera 11-12.1 */
	    text-align: center;
	    margin:0 auto;
	    margin-top: 25px;
	    font-family: 'sonderSans-Black';
	    font-size: 12.65pt;
	    color: #FFF;
	    position: relative;
	    z-index:9999;
	    background-color: #112674;
	}

	.group-open{
		width: 290px;
	    height: 45px;
		border:4px solid;
		border-image: url(../../images/border-p10.png) 10 round;
	    -webkit-border-image: url(../../images/border-p10.png) 10 round;
	    -o-border-image: url(../../images/border-p10.png) 10 round;
	    font-size: 10.65pt;
	    color: #FFF;
	    padding-top: 10px;
	    border-bottom: none;
	}

	.group-open.last{
		border-bottom:4px solid;
		border-image: url(../../images/border-p10.png) 10 round;
	    -webkit-border-image: url(../../images/border-p10.png) 10 round; /* Safari 3.1-5 */
	    -o-border-image: url(../../images/border-p10.png) 10 round; /* Opera 11-12.1 */
	}
	.group-open.first{
		margin-top: -35px;
	    opacity: 1;
	    z-index: 99;
	    position: relative;
	    height: 40px;

	}
	.group-open.sec{
		border-top:none;

	}
	.text-red{
		color: red;
	}

	.box-group-open{
		display: none
	}
	.icon-drop-down{
	    width: 15px;
	    float: right;
	    margin-right: 15px;
	    margin-top: 8px;
	}



}
@media(max-width:359px){
	.p1 .content,.p2 .content{
		padding: 15px;
	}
	.logo {
		margin-top: -5px;
    	margin-left: -5px;
	}
	.logo img {
	    width: 50px;
	}
	.p1 .content .border-box,.p2 .content .border-box{
	    border:5px solid ;
	    border-image: url(../../images/border-box.png) 10 round;
	}

	.box-top{
		height: 105px;
    	border-bottom: 5px solid;
	}
	.footer{
	    text-align: center;
		border-top:5px solid;
		border-image: url(../../images/under.png) 10 round;
	    -webkit-border-image: url(../../images/under.png) 10 round; /* Safari 3.1-5 */
	    -o-border-image: url(../../images/under.png) 10 round; /* Opera 11-12.1 */
	}
	.form label{
		font-size: 10.85pt;
	}
	.form .form-input{
		height: 25px;
		font-size: 8.85pt;
		padding: 0 5px;
	}
	.form .bd{
		height: 25px;
		font-family: 'Helvethaica-bd-it';
		font-size: 11.18pt;
		padding: 0 5px;
	}
	.form {
	    width: 70%;
	    margin: 0 auto;
	    margin-top: 60px;
	    margin-bottom: 30px;
	}
	.form-group {
	    margin-bottom: 5px;
	}
	.btn-next {
	    background-color: transparent;
	    border: none;
	    margin-top: 10px;
	    margin-bottom: 5px;
	}
	.btn-next img{
		width: 45%;
	}
	.p2 .logo img {
	    width: 40px;
	}
	.box-p3{
		margin-top: 60px;
		margin-bottom: 20px;
	}
	.boxprofile{

		width: 110px;
		height: 110px;
		background: url('../../images/boxprofile.png');
		margin-top: 75px;
		margin-bottom: 20px;
		background-size: 100% 100%;
	}

	.boxprofile .imageprofile{
		width: 90%;
		margin: 5px 5px;
	}
	.name{
		margin-top: 10px;
		width: 60%;
		margin:0 auto;
		padding: 5px;
		border:2px solid;
		border-image: url(../../images/border-p10.png) 10 round;
	    -webkit-border-image: url(../../images/border-p10.png) 10 round; /* Safari 3.1-5 */
	    -o-border-image: url(../../images/border-p10.png) 10 round; /* Opera 11-12.1 */
	    font-family: 'Helvethaica-bd';
		font-size: 12pt;
		color: #FFF;
	}
	.text-p10{
		font-family: 'Helvethaica-bd';
		font-size: 12pt;
		color: #FFF;
		margin-top: 20px;
	    margin-bottom: 20px;
	}
	.text-p10 p{
		line-height: 0.9;
	}
	.boxinput{
		width: 50%;
		margin:0 auto;
		display: block;
		margin-bottom: 20px;
	}
	.boxinput .form-input{
		width: 100%;
		height: 30px;
		padding: 0 10px;
		font-size: 9.12pt;
		font-family: 'Helvethaica-bd';
	}
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  	color: #000;
		font-family: 'Helvethaica-bd';
		font-size: 9.12pt;
	}
	::-moz-placeholder { /* Firefox 19+ */
	  	color: #000;
		font-family: 'Helvethaica-bd';
		font-size: 9.12pt;
	}
	:-ms-input-placeholder { /* IE 10+ */
	  	color: #000;
		font-family: 'Helvethaica-bd';
		font-size: 9.12pt;
	}
	:-moz-placeholder { /* Firefox 18- */
	  	color: #000;
		font-family: 'Helvethaica-bd';
		font-size: 9.12pt;
	}

	.p10-o{
		margin-left: -22px;
	    margin-top: -90px;
	    width: 140%;
	}
	.t-total-score{
		font-size: 15pt;
		font-family: 'Helvethaica-bd';
		color: #FFF;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.total-score{
		width: 80%;
		margin: 0 auto;
		display: inline-block;
	}
	.icon-num{
		background: url(../../images/boxnumber.png );
		background-size: 100% 100%;
		height: 40px;
		width: 40px;
		font-size: 15pt;
		color: #FFF;
		font-family: 'Helvethaica-bd';
		padding-top: 5px;
	}
	.input-score{
		width: 150px;
		height: 35px;
		font-size: 15pt;
	    text-align: center;
		border:2px solid;
		font-family: 'Helvethaica-bd';
		border-image: url(../../images/border-p10.png) 10 round;
	    -webkit-border-image: url(../../images/border-p10.png) 10 round; /* Safari 3.1-5 */
	    -o-border-image: url(../../images/border-p10.png) 10 round; /* Opera 11-12.1 */
	}
	.box-input{
		padding-top: 3px;
		float: left;
	}
	.box-icon{
		width: 60px;
		float: left;
	}
	.text-p4{
		width: 80%;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.total-score-m{
		margin-top: 5px;
	}
	 .btn-back img {
	    width: 40%;
	}
	.box-p4 {
		margin-top: 60px;
		margin-bottom: 20px;
	}
	.group-open-p5{
		width: 260px;
	}
	.group{
		width: 186px;
		height: 43px;
		padding: 5px;
		border:4px solid;
		border-image: url(../../images/border-p10.png) 10 round;
	    -webkit-border-image: url(../../images/border-p10.png) 10 round; /* Safari 3.1-5 */
	    -o-border-image: url(../../images/border-p10.png) 10 round; /* Opera 11-12.1 */
	    text-align: center;
	    margin:0 auto;
	    margin-top: 25px;
	    font-family: 'sonderSans-Black';
	    font-size: 11.65pt;
	    color: #FFF;
	    position: relative;
	    z-index:9999;
	    background-color: #112674;
	}

	.group-open{
		width: 260px;
	    height: 45px;
		border:4px solid;
		border-image: url(../../images/border-p10.png) 10 round;
	    -webkit-border-image: url(../../images/border-p10.png) 10 round;
	    -o-border-image: url(../../images/border-p10.png) 10 round;
	    font-size: 9.65pt;
	    color: #FFF;
	    padding-top: 10px;
	    border-bottom: none;
	}

	.group-open.last{
		border-bottom:4px solid;
		border-image: url(../../images/border-p10.png) 10 round;
	    -webkit-border-image: url(../../images/border-p10.png) 10 round; /* Safari 3.1-5 */
	    -o-border-image: url(../../images/border-p10.png) 10 round; /* Opera 11-12.1 */
	}
	.group-open.first{
		margin-top: -35px;
	    opacity: 1;
	    z-index: 99;
	    position: relative;
	    height: 40px;

	}
	.group-open.sec{
		border-top:none;

	}
	.text-red{
		color: red;
	}

	.box-group-open{
		display: none
	}
	.icon-drop-down{
	    width: 13px;
	    float: right;
	    margin-right: 15px;
	    margin-top: 8px;
	}

}

