.account-page .account-row {
    padding: 0 12px;
}

.account-page .profile-image-wrap {
    padding-top: 16px;
    padding-bottom: 12px;
    text-align: center;
}

.account-page .profile-image {
    border-radius: 50%;
    height: 65px;
    object-fit: cover;
    width: 65px;
}

.account-page .profile-name {
    color: #009966;
    font-size: 1.5em;
    font-weight: 200;
    text-align: center;
}

.account-page .profile-name .profile-name-text {
    margin-bottom: 0;
}

.account-page .address-title {
    color: #808080;
    font-size: 0.93em;
    font-weight: 200;
    margin-bottom: 12px;
    margin-top: 22px;
}

.account-page .address-detail {
    background-color: #EBEBEB;
    border-radius: 6px;
    color: #000;
    font-size: 0.93em;
    font-weight: 200;
    padding: 20px;
}

.account-page .address-detail .name {
    margin-bottom: 12px;
}

.account-page .address-detail .address {
    margin-bottom: 0;
}

.account-menu .account-menu-title {
    align-items: center;
    display: flex;
    position: relative;
    padding: 16px 12px;
}

.account-menu .account-menu-title:focus {
    outline: none;
}

.account-menu .account-menu-title .account-menu-icon {
    margin-right: 18px;
    width: 35px;
}

.account-menu .account-menu-title .account-menu-arrow {
    right: 12px;
}

.account-menu .account-menu-title .accordion__arrow_right {
    display: inline-block;
    width: 12px;
    height: 24px;
    position: absolute;
    top: auto;
    right: 16px;
}

.account-menu .account-menu-title .accordion__arrow_right::before,
.account-menu .account-menu-title .accordion__arrow_right::after {
    display: block;
    position: absolute;
    left: 0;
    width: 10px;
    height: 2px;
    background-color: currentColor;
    content: '';
    transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

.account-menu .account-menu-title .accordion__arrow_right::after {
    bottom: 8px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.account-menu .account-menu-title .accordion__arrow_right::before {
    top: 8px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.account-menu [aria-selected='true'] {
    color: #009865;
}

.account-menu .account-menu-body {
    padding: 0 12px;
}

.account-menu .account-menu-body-title {
    color: #808080;
    font-size: 0.937em;
    font-weight: 200;
    margin-bottom: 8px;
    padding-left: 52px;
}

.account-menu .shipping-address-wrap {
    padding-bottom: 16px;
    padding-left: 24px;
}

.account-menu .shipping-address-wrap .radio,
.account-menu .shipping-address-wrap .radio label{
    width: 100%;
}

.account-menu .address-wrap {
    background-color: #EBEBEB;
    border-radius: 6px;
    padding: 6px 20px;
}

.account-menu .clubcard-image-wrap {
    padding-bottom: 16px;
    padding-left: 52px;
    position: relative;
}

.account-menu .clubcard-image {
    width: 230px;
}

.account-menu .clubcard-number {
    color: #FFF;
    font-size: 0.937em;
    font-weight: 300;
    position: absolute;
    left: 72px;
    bottom: 32px;
    margin: 0;
}

.account-menu .clubcard-button{
    display: flex;
    margin-bottom: 8px;
}

.account-menu .clubcard-button .button {
    margin-right: 16px;
}

.account-menu .clubcard-button .button:last-child{
    margin-right: 0;
}

.account-menu-body .account-tab{
    border: none;
    justify-content: space-between;
    padding-left: 52px;
}

.account-tab .nav-tabs {
    border: none;
}

.account-tab .nav-link{
    border: none !important;
    color: #808080 !important;
    font-size: 0.75em;
    font-weight: 200;
    padding: 0 0 12px;
}

.account-tab .nav-link.active{
    color: #009865 !important;
    border: none;
}

.account-content-tab .address-row {
    margin-bottom: 16px;
    padding-left: 25px;
} 

.account-content-tab .radio {
    padding-left: 28px;
}

.account-content-tab .radio label::before {
    border: 1px solid #009865;
    height: 28px;
    left: -8px;
    width: 28px;
}

.account-content-tab .radio label::after {
    background-color: #FFF;
    height: 7px;
    top: 31px;
    width: 7px;
}

.account-content-tab .radio input[type="radio"]:checked + label::before {
    background-color: #009865;
}

.account-content-tab .address-card {
    align-items: center;
    background-color: #EBEBEB;
    border-radius: 6px;
    display: flex;
    margin-left: 16px;
    max-height: 68px;
    min-height: 68px;
    overflow: hidden;
    padding: 6px 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.account-content-tab .address-image {
    height: 30px;
    margin-right: 25px;
    min-width: 30px;
    width: 30px;
}

.account-content-tab .address-image img{
    width: 100%;
}

.account-content-tab .address-detail-text p{
    margin-bottom: 4px;
}

.account-content-tab .address-button-row {
    display: flex;
    padding: 0 25px 15px;
}

.account-content-tab .address-button-row .white-btn {
    margin-right: 37px;
}