.cart-page .item-row{
    border-top: 1px solid #DFDFDF;
    display: flex;
    padding: 10px 0;
}

.cart-page .item-row .item-product-column {
    width: 60%;
}

.cart-page .item-row .item-number-column {
    padding: 0 22px;
    position: relative;
    width: 40%;
}

.cart-page .item-row .item-number-column .product-remain {
    color: #000;
    font-size: 0.625em;
    font-weight: 200;
    margin-bottom: 2px;
    text-align: center;
    width: 100%;
}

.cart-page .item-row .item-number-column .item-action {
    position: absolute;
    bottom: 0;
    right: 22px;
}

.item-number-column .item-action .button-section {
    align-items: flex-end;
    display: flex;
    padding: 4px 4px;
}

.summary-list {
    border-top: 1px solid #DFDFDF;
    padding: 18px 18px 8px;
}

.summary-list .summary-row {
    display: flex;
    margin-bottom: 12px;
}

.summary-list .summary-row .summary-label,
.summary-list .summary-row .summary-value {
    color: #000;
    font-size: 0.85em;
    font-weight: 200;
    width: 50%;
}

.summary-list .summary-row .summary-value {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.summary-list .summary-row .summary-input {
    width: 60%;
}

.summary-list .summary-row .summary-button {
    padding-left: 22px;
    width: 40%;
}

.summary-list .summary-row .warning-text{
    color: #FF0000;
    font-size: 1em;
    font-weight: 200;
    margin: 0;
}

.summary-list .summary-row .summary-value label{
    color: #FF0000;
    font-size: 1.53em;
    font-weight: 200;
    margin: 0;
}

.summary-list .summary-row .summary-value .unit-text {
    color: #FF0000;
    font-size: 0.8em;
    font-weight: 200;
}

.summary-list .summary-row .summary-value .remark {
    color: #4D4D4D;
    font-size: 0.48em;
    font-weight: 200;
    margin: 0;
}

.summary-list .summary-row:last-child {
    margin-bottom: 0;
}