.coupon-page-wrap {
    display: flex;
    flex-wrap: wrap;
    padding: 13px 6px;
}

.coupon-banner-single  {
    display: flex;
    flex-wrap: wrap;
    padding: 3px 6px;
    width: 100%;
}

.coupon-banner-double {
    padding: 12px 6px;
    width: 50%;
}

.coupon-banner-double .coupon-image{
    background-color: #EAEAEA;
    border-radius: 0;
    margin-bottom: 7px;
    padding: 20px;
}

.coupon-banner-double .coupon-detail .discount {
    color: #000;
    font-size: 1.25em;
    font-weight: 200;
    margin-bottom: 8px;
    text-align: center;
}

.coupon-banner-double .coupon-detail .discount-detail {
    color: #666666;
    font-size: 0.75em;
    font-weight: 200;
    margin-bottom: 10px;
    text-align: center;
}