.hilight-promotion-section {
    display: flex;
}

.hilight-promotion {
    border: 1px solid #00A365;
    margin-right: 5px;
    width: 50%;
}

.hilight-promotion:last-child {
    margin-right: 0
}

.brand-items {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #DFDFDF !important;
}

.brand-item {
    border-top: 1px solid #DFDFDF !important;
    height: 54px;
    padding: 10px;
    text-align: center;
    width: 50%;
}

.brand-item.show-border {
    border-right: 1px solid #DFDFDF !important;
}