.payment-wrap {
    padding: 0 5px;
}

.payment-banner-wrap {
    padding: 10px 12px 5px;
}

.payment-button-wrap {
    display: flex;
}

.payment-button-wrap {
    padding: 0 6px;
}

.payment-button-wrap .payment-button{
    padding: 6px;
    width: 50%;
}

.payment-wrap .payment-cash-wrap.hidden,
.payment-wrap .payment-debit-wrap.hidden,
.payment-wrap .payment-summary-wrap.hidden {
    display: none;
}

.payment-cash-wrap {
    padding: 16px 24px;
}

.payment-cash-wrap p {
    color: #000000;
    font-size: 0.937em;
    font-weight: 200;
    margin: 0;
}

.payment-summary-wrap {
    padding: 0 10px 17px;
}

.payment-summary-wrap .order-summary {
    align-items: center;
    background-color: #E9E9E9;
    display: flex;
    height: 42px;
    justify-content: space-between;
    margin-bottom: 16px;
    padding: 0 20px;
}

.payment-summary-wrap .order-summary-label {
    color: #000000;
    font-size: 0.937em;
    font-weight: 200;
}

.payment-summary-wrap .order-summary-price {
    color: #FF0000;
    font-size: 1.3em;
    font-weight: 300;
}

.payment-summary-wrap .order-button {
    padding: 0 7px;
}

.payment-debit-wrap .debit-choosen {
    border-bottom: 1px solid #BCBCBC;
    padding: 12px;
}

.payment-debit-wrap .debit-choosen:last-child {
    border-bottom: none;
}

.payment-debit-wrap .debit-choosen .radio {
    padding-left: 0;
}

.payment-debit-wrap .debit-choosen label {
    align-items: center;
    display: flex;
    margin: 8px 0;
    width: 100%;
}

.payment-debit-wrap .debit-choosen label img {
    margin-right: 15px;
    width: 48px;
}

.payment-debit-wrap .debit-choosen label .debit-number {
    color: #000000;
    font-size: 1.093em;
    font-weight: 200;
    margin: 0;
}

.payment-debit-wrap .debit-choosen label .add-debit-text {
    color: #000000;
    font-size: 0.937em;
    font-weight: 200;
    margin: 0;
}

.payment-debit-wrap .debit-choosen label::before {
    border: 1px solid #009765;
    right: 0;
    left: auto;
}

.payment-debit-wrap .debit-choosen label::after {
    background-color: #009765;
    right: 3px;
    left: auto;
    top: 7px;
}

.payment-debit-wrap .debit-choosen .radio-debit-body {
    align-items: center;
    display: flex;
    padding-left: 64px;
}

.payment-debit-wrap .debit-choosen .radio-debit-body .input-default {
    margin-right: 8px;
}

.payment-debit-wrap .debit-choosen .radio-debit-body .info-icon{
    height: 18px;
    width: 18px;
}

.payment-debit-wrap .debit-choosen .card-type-image {
    align-items: center;
    display: flex;
    margin-top: 22px;
    margin-bottom: 40px;
}

.payment-debit-wrap .debit-choosen .input-group-wrap {
    margin: 0 -12px 32px !important; 
}

.payment-debit-wrap .debit-choosen .input-group-wrap .input-form {
    padding: 0 20px;
}

.payment-debit-wrap .debit-choosen .expired-input {
    margin-right: 36px !important; 
    width: 60%;
}

.payment-debit-wrap .debit-choosen .cvv-input {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    width: 40%;
}

.payment-debit-wrap .debit-choosen .save-detail-wrap {
    align-items: flex-end;
    border-bottom: none !important;
    display: flex;
    margin-bottom: 0 !important;
}

.payment-debit-wrap .debit-choosen .save-detail {
    padding-left: 20px;
    width: 60%;
}

.payment-debit-wrap .debit-choosen .save-detail .title{
    color: #000000;
    font-size: 0.937em;
    font-weight: 200;
    margin-bottom: 10px;
}

.payment-debit-wrap .debit-choosen .save-detail .detail {
    color: #666666;
    font-size: 0.625em;
    font-weight: 200;
    margin-bottom: 10px;
}

.payment-debit-wrap .debit-choosen .switch-button {
    text-align: right;
    width: 40%;
}