.product-categories {
    display: flex;
    height: calc( 100vh - 149px);
    overflow-y: scroll;
    overflow-x: hidden;
}



.categories-menu {
    min-width: 93.75px;
}

.categories-menu .categories-item {
    align-items: center;
    border-left: 1px solid #019865;
    border-top: 1px solid #019865;
    border-right: 1px solid #019865;
    display: flex;
    flex-direction: column;
    height: 16.67%;
    justify-content: space-around;
    padding: 12px 15px;
    text-align: center;
}

.categories-menu .categories-item:last-child {
    border-bottom: 1px solid #019865;
}

.categories-menu .categories-item .categories-name {
    font-size: 0.625em;
    line-height: 1.2;
    margin-top: 4px;
    white-space: pre-line;
}

.categories-main-menu {
    height: calc( 100vh - 161px);
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 8px;
    width: 100%;
}

.categories-main-menu .category {
    align-items: center;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #DFDFDF;
    border-radius: 0;
    color: #000000;
    display: flex;
    font-size: 0.93em;
    font-weight: 200;
    height: 56.44px;
    justify-content: space-between;
    margin-bottom: 0 !important;
    padding: 0 3px 0 19px;
    position: relative;
    width: 100%;
}

.categories-main-menu .category:focus {
    outline: none;
    box-shadow: none;
}

.categories-main-menu .category-arrow.hidden {
    display: none;
}

.categories-main-menu .product-in-category {
    align-items: center;
    border-bottom: 1px solid #DFDFDF;
    color: #000000;
    display: flex;
    font-size: 0.93em;
    font-weight: 200;
    height: 56.44px;
    padding: 0 3px 0 40px;
    width: 100%;
}

.categories-main-menu .accordion {
    border: none !important;
    border-radius: 0 !important;
}

.categories-main-menu .accordion__body {
    padding: 0 !important;
}

.categories-main-menu .accordion__arrow::after,
.categories-main-menu .accordion__arrow::before {
    height: 1px !important;
}

.categories-main-menu .accordion__arrow::before {
    left: 3.4px !important;
}

.product-list-section {
    display: flex;
    flex-wrap: wrap;
}

.product-list-section .product-section {
    border-top: 1px solid #C5C5C5;
    width: 50%;
}

.product-list-section .product-section:last-child,
.product-list-section .product-section:nth-last-child(2) {
    border-bottom: 1px solid #C5C5C5;
}

.product-list-section .product-section.show-border {
    border-right: 1px solid #C5C5C5;
}

.product-tab {
    border-bottom: none !important;
    display: flex;
    justify-content: space-between;
    padding: 0 53px !important;
}

.product-tab .nav-link {
    border: none !important;
    color: #000000 !important;
    font-size: 0.937em;
    font-weight: 200;
    padding: 0;
}

.product-tab .nav-link.active {
    color: #009465 !important;
    border: none !important;
}

.overall-infor .product-infor-row {
    border-bottom: 1px solid #DBDBDB;
    padding: 10px 20px;
}

.overall-infor .product-image-wrap {
    border: 1px solid #009465;
    border-radius: 9px;
    height: 215px;
    margin-bottom: 12px;
    padding: 16px 46px;
    position: relative;
}

.overall-infor .product-image-wrap img {
    height: 100%;
    object-fit: contain;
    width: 100%;
}

.overall-infor .product-image-wrap .send-button {
    margin-right: 12px;
}

.overall-infor .product-image-wrap .product-action {
    position: absolute;
    right: 8px;
    bottom: 8px;
}

.product-des-wrap .product-name-row {
    font-size: 0.8em;
    white-space: pre-line;
    margin: 4px 4px 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.7;
}

.product-des-wrap .product-des-innerwrap {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    padding: 0 4px 8px;
}

.product-des-wrap .product-price-column {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.product-des-wrap .product-price-column .product-price,
.product-des-wrap .product-price-column .product-discount {
    line-height: 1;
}

.product-des-wrap .product-price .price {
    color: #000000;
    font-weight: 300;
    font-size: 1em;
    margin-right: 2.5px;
}

.product-des-wrap .product-price .currency {
    color: #000000;
    font-weight: 300;
    font-size: 0.8em;
}

.product-des-wrap .product-discount .original-price-column {
    color: #666666;
    font-size: 0.625em;
    margin-right: 2.5px;
    position: relative;
}

.product-des-wrap .product-discount .original-price-column::before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid #FF0000;
    -webkit-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    transform: rotate(-12deg);
}

.product-des-wrap .product-discount .currency {
    color: #666666;
    font-size: 0.5em;
    font-weight: 200;
    margin-right: 2.5px;
}

.product-des-wrap .product-discount .discount {
    color: #000000;
    font-size: 0.625em;
    font-weight: 200;
}

.product-des-wrap .club-card {
    justify-content: center;
    margin-bottom: 2px;
    align-items: center;
    display: flex;
    height: auto;
}

.product-des-wrap .club-card-img {
    border-radius: 2px;
    margin-right: 4px;
    width: 28px;
}

.product-des-wrap .club-card-text {
    color: #000000;
    font-size: 6.5px;
    font-weight: 300;
    margin: 0;
}

.product-des-wrap .member-price {
    display: block;
    line-height: 1.3;
    margin: 0;
    width: 100%;
    background-color: #FFE600;
    height: 24px;
    text-align: center;
    padding: 2px 4px;
}

.product-des-wrap .product-amount {
    color: #000000;
    font-size: 0.8em;
    font-weight: 200;
    text-align: right;
    width: 50%;
}

.product-des-wrap .promotion-remark {
    color: #000000;
    font-size: 0.625em;
    font-weight: 200;
    text-align: left;
}

.product-options-row {
    border-bottom: 1px solid #DBDBDB;
    padding: 0 8px 12px;
}

.product-options-row .option-image-wrap {
    display: flex;
    padding: 0 12px;
}

.product-options-row .option-image {
    border: 1px solid #C1C1C1;
    margin-right: 14px;
    width: 33.33%;
}

.product-options-row .option-image:last-child {
    margin-right: 0
}

.product-options-row .option-image img {
    object-fit: cover;
    width: 100%;
}

.product-detail-row {
    padding: 14px 23px;
}

.product-detail-row .details-title {
    color: #000000;
    font-size: 0.9375em;
    font-weight: 200;
    margin-bottom: 12px;
}

.product-detail-row .display-text-group {
    color: #4D4D4D;
    font-size: 0.781em;
    font-weight: 200;
    word-break: break-word;
}

.product-detail-row .read-more-button {
    color: #009465;
    font-size: 0.8em;
    font-weight: 200;
    padding: 4px 0;
    text-align: center;
}

.related-products .related-products-title {
    color: #000000;
    font-size: 0.9375em;
    font-weight: 200;
    margin-bottom: 12px;
    padding: 12px 23px 0;
}

/* PopUp */

.product-popup {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.product-popup.slideOut {
    display: none;
}

.product-popup.slideIn {
    display: block;
}

.product-popup-innerwrap {
    transition: transform 400ms ease-in;
    height: auto;
    min-height: 423px;
    background-color: #FFF;
    white-space: pre-wrap;
    padding-bottom: 48px;
}

.product-popup.slideOut .product-popup-innerwrap{
    transform: translateY(150%);
}

.product-popup.slideIn .product-popup-innerwrap{
    transform: translateY(40%);
}

.product-popup.slideIn .product-popup-innerwrap.show-product-size {
    transform: translateY(18%);
}
 
.product-popup .product-des-wrap {
    display: flex;
    padding: 20px;
}

.product-popup .main-product-image,
.product-popup .product-des-col {
    width: 50%;
}

.product-popup .main-product-image img{
    width: 100%;
}

.product-popup .product-des-col {
    padding: 4px 10px 0 18px;
}

.product-popup .product-price-column {
    width: 100%;
}

.product-popup .product-style {
    border-bottom: 1px solid #DFDFDF;
    padding: 0 20px 20px;
}

.product-popup .product-style .product-style-title {
    font-size: 1em;
    font-weight: 200;
    margin-bottom: 10px;
}

.product-popup .product-style-list {
    display: flex;
}

.product-popup .product-style-item {
    border: 1px solid #C1C1C1;
    margin-right: 10px;
    width: 25%;
}

.product-popup .product-style-item.active {
    border: 1px solid #009465;
}

.product-popup .product-style-item:last-child{
    margin-right: 0;
}

.product-popup .product-style-item img{
    width: 100%
}

.product-popup .product-amount {
    align-items: center;
    border-bottom: 1px solid #DFDFDF;
    display: flex;
    padding: 18px 20px 12px;
}

.product-popup .product-amount-title {
    font-size: 1em;
    font-weight: 200;
    width: 60%;
}  

.product-popup .input-product-amount {
    width: 40%;
}

.product-popup .product-size {
    border-bottom: 1px solid #DFDFDF;
    padding: 9px 20px 12px;
}

.product-popup .product-size.hidden {
    display: none;
}

.product-popup .product-size-title {
    font-size: 1em;
    font-weight: 200;
    margin-bottom: 10px;
}

.product-popup .product-size-list{
    display: flex;
}

.product-popup .product-size-item {
    align-items: center;
    background-color: #E7E7E7;
    border-radius: 4px;
    display: flex;
    height: 28px;
    justify-content: space-around;
    margin-right: 12px;
    width: 28px;
}

.product-popup .product-size-item.selected {
    background-color: #009465;
    color: #FFF;
}

.product-popup .order-summary {
    align-items: center;
    border-bottom: 1px solid #DFDFDF;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.product-popup .order-summary-title {
    font-size: 1em;
    font-weight: 200;
}

.product-popup .order-summary-price {
    color: #FF0000;
    font-size: 1.25em;
    font-weight: 200;
}

.product-popup .order-summary-price span {
    font-size: 0.8em;
}

.product-detail-tab {
    word-break: break-word;
    padding: 10px 20px;
}

/* iPhone X */

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .categories-main-menu,
    .product-categories {
        height: calc( 100vh - 174px);
    }
    .product-popup-innerwrap {
        padding-bottom: 81px;
        transform: translateY(60%) !important;
    }

    .product-popup-innerwrap.show-product-size {
        transform: translateY(38%) !important;
    }
}
