.thank-page {
    min-height: calc(100vh - 93px);
    position: relative;
}

.thank-page .thank-title {
    align-items: center;
    display: flex;
    padding: 30px 32px;
}

.thank-page .thank-title .correct-icon {
    height: 48px;
    margin-right: 16px;
    width: 48px;
}

.thank-page .thank-title .correct-icon img {
    width: 100%;
}

.thank-page .thank-title .title-text {
    color: #000000;
    font-size: 1.4em;
    font-weight: 300;
}

.thank-page .thank-description {
    padding: 0 32px 33px;
}

.thank-page .thank-description p {
    color: #000000;
    font-size: 0.937em;
    font-weight: 200;
    margin-bottom: 6px;
}

.thank-order-summary {
    border-bottom: 1px solid #DEDEDE;
    border-top: 1px solid #DEDEDE;
    padding: 24px 0;
    text-align: center;
}

.thank-order-summary .order-label {
    color: #000000;
    font-size: 0.937em;
    font-weight: 300;
    margin-bottom: 4px;
}

.thank-order-summary .total-order {
    color: #FF0000;
    font-size: 0.937em;
    font-weight: 300;
}

.thank-order-summary .total-order span{
    color: #000000;
    font-weight: 200;
}

.thank-shipping-address {
    padding: 25px 16px;
}

.thank-shipping-address .title {
    color: #000000;
    font-size: 0.937em;
    font-weight: 300;
    margin-bottom: 8px;
}

.thank-shipping-address p {
    color: #000000;
    font-size: 0.937em;
    font-weight: 200;
    margin-bottom: 0;
}

.thank-button {
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}
/* iPhone X */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3){
    .thank-page {
        min-height: calc(100vh - 118px);
    }
}