@font-face {
    font-family: Kittithada55;
    src: url(../fonts/Font-Kittithada/PSL242pro.ttf);
}

@font-face {
    font-family: Kittithada65;
    font-weight: 500;
    src: url(../fonts/Font-Kittithada/PSL244pro.ttf);
}

@font-face {
    font-family: Kittithada75;
    font-weight: bold;
    src: url(../fonts/Font-Kittithada/PSL245pro.ttf);
}

body {
	font-family: Kittithada55;
	background-color: #10636b;
	color: #fff;
}

h1 {
	font-size: 54px;
}

h4 {
	font-size: 24px;
	padding: 10px 0;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

p {
	font-size: 24px;
	line-height: 1;
}

p > span {
	color: #75c5ad;
	font-size: 24px;
}

.btn {
	border-radius: 50px;
	color: #e77926;
	font-size: 30px;
	line-height: .7;
}

.btn img {
	position: relative;
	/*bottom: 5px;*/
	right: 5px;
}

.btn-lg {
	font-size: 30px;
	height: 61px;
	width: 240px;
}

.text-muted {
	font-size: 20px;
	color: #fed146;
}

.fwd-card {
	max-width: 290px;
}

.col-fix-1 {
	float: inherit;
	width: 285px;
	margin: auto;
}

.col-fix-1 > .row >.col-xs-3 {
	padding: 5px;
}

.col-fix-2 {
	float: inherit;
	width: 320px;
	margin: auto;
}