@font-face {
    font-family: anticon;
    src: url(../../vendors/fonts/anticon/anticon.ttf);
}

@font-face {
    font-family: "FontAwesome";
    src: url(../../vendors/fonts/FontAwesome.otf);
}

body {
    font-family: 'Prompt', sans-serif;
}

.anticon:before {
    display: block;
    font-family: "anticon" !important;
    font-style: normal;
}

.anticon.question::before {
    content: "\E63A";
    font-size: 20px;
    color: #ff4f00;
}

.anticon.heart::before {
    content: "\E6A3";
    color: #c1c1c1;
    font-size: 24px;
}


/* 1. SEARCH INPUT */

.search-box {
    position: relative;
    display: inline-block;
    width: 100%;
}

.search-box input {
    background-color: #e7e7e9;
    border: 1px solid #e7e7e9;
    border-radius: 10px;
    color: #000;
    font-size: 22px;
    height: 49px;
    position: relative;
    width: 100%;
    padding-right: 46px;
    padding-left: 22px;
    padding: 8px 46px 8px 22px;
}

.search-box input:focus {
    background-color: #e7e7e9;
    border: 1px solid #e7e7e9;
    box-shadow: none;
    color: #000;
    outline: none;
}

.search-box input::placeholder {
    color: #000;
}

.search-box .input-icon {
    position: absolute;
    top: 62%;
    z-index: 2;
    line-height: 0;
    right: 32px;
}

.search-box .anticon-search {
    font-style: normal;
}

.search-box .anticon-search::before {
    color: #ff5400;
    content: "\E670";
    font-size: 26px;
}


/* 2. SELECT DROPDOWN */

.SumoSelect {
    width: 100%;
}

.SumoSelect:hover .CaptionCont,
.SumoSelect:focus .CaptionCont {
    box-shadow: none;
    border-color: #cacaca;
}

.SumoSelect>.CaptionCont {
    border: 1px solid #cacaca;
    border-radius: 7px;
    cursor: pointer;
    min-height: 46px;
    text-align: center;
    padding-top: 11px;
    padding-bottom: 9px;
}

.SumoSelect>.CaptionCont>span {
    color: #564242;
    cursor: pointer;
}

.SumoSelect>.CaptionCont>label {
    background-color: #ff5a00;
    background-image: linear-gradient(to bottom, #e3a417 0, #f0800c 6%, #ff5a00 80%);
    border: 1px solid #ff5a00;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    cursor: pointer;
    top: -1px;
    right: -1px;
    bottom: -1px;
    width: 42px;
    height: 46px;
}

.SumoSelect>.CaptionCont>label>i {
    background-size: 16px 10px;
    margin-top: 16px;
}

.SumoSelect.open>.optWrapper {
    text-align: center;
    top: 47px;
}

.SumoSelect>.optWrapper>.options li label {
    margin: 0;
}

.select-box.material-selet {
    margin-bottom: 32px;
    padding: 0;
}

.material-selet .SumoSelect>.CaptionCont>label {
    background-color: #fff !important;
    background-image: none;
    border: none;
    border-bottom: 1px solid #ff5a03;
    border-radius: 0;
    right: 0;
    height: 32px;
}

.material-selet .SumoSelect>.CaptionCont {
    border: none;
    border-bottom: 2px solid #ff5a03;
    border-radius: 0;
    text-align: left;
    color: #564242;
    font-size: 14px;
    min-height: 32px;
    padding: 4px 0;
}

.material-selet .SumoSelect>.CaptionCont>label>i {
    margin-top: 10px;
    background-image: url(../../resources/img/arrow-select.png);
}


/* END SELECT DROPDOWN */


/* 3. NUMBER INPUT */

.number-input {
    border: 1px solid #e6e6e6;
    border-radius: 7px;
    height: 40px;
    width: 185px;
}

.number-input .input-group-btn {
    background-color: #f5f5f5;
    cursor: pointer;
    padding: 12px 10px;
    width: 55px;
}

.number-input .input-group-btn.minus {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.number-input .input-group-btn.plus {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.number-input .input-group-btn button {
    background-color: #f5f5f5;
    border-radius: 7px;
    cursor: pointer;
}

.number-input .input-group-btn button i {
    color: #ff5400;
    display: block;
    line-height: 0.2;
}

.number-input .input-group-btn button:focus {
    box-shadow: none;
}

.number-input input {
    border: none;
    text-align: center;
}

.number-input input:hover {
    z-index: 0 !important;
}

.number-input input:focus {
    box-shadow: none;
}


/* END NUMBER INPUT */


/* 4. BUTTON */

.button {
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    font-weight: 400;
    height: 53px;
    line-height: 0;
    min-width: 80px;
    padding: 6px 14px;
    width: 100%;
    position: relative;
    background-color: #ff5a00;
    background-image: linear-gradient(to bottom, #e3a417 0, #f0800c 6%, #ff5a00 80%);
    border: 1px solid #ff5a00;
    text-shadow: 0px 2px 1px rgba(59, 55, 0, 1);
    margin-bottom: 8px;
}

.button:focus {
    outline: none;
    box-shadow: none;
}

.button.btn-link a {
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    line-height: 1.6;
}

.button.btn-link a:hover {
    text-decoration: none;
}

.button.btn-link img {
    width: 36px;
    position: absolute;
    right: 14px;
    top: 8px;
}

.button.btn-link.back img {
    left: 14px;
}

.button.btn-shop img {
    width: 32px;
    position: absolute;
    right: 30px;
    top: 11px;
}

.button.btn-more {
    border: 1px solid #ff5a00;
    background-color: #FFF;
    background-image: none;
    color: #ff5a02;
    text-shadow: none;
    margin-top: 26px;
}

.button.btn-link.btn-more a {
    color: #ff5a02;
}

.btn-circle {
    display: block !important;
    width: 30px !important;
    height: 30px !important;
    padding: 1px 0;
    font-size: 12px !important;
    line-height: 1.428571429;
    border-radius: 15px !important;
    background-color: #ffdfd3 !important;
    text-align: center !important;
}

.btn-delete {
    align-items: center;
    background-color: transparent;
    border: none;
    color: #564242;
    display: flex;
    font-size: 14px;
    padding-bottom: 8px;
}

.btn-delete:focus {
    outline: none;
    box-shadow: none;
}

.btn-delete img {
    margin-right: 8px;
    width: 20px;
}

.two-btn {
    margin: 0;
    padding: 25px 12px 25px;
}

.two-btn .col-5,
.two-btn .col-7,
.two-btn .col-auto,
.two-btn .col-6,
.col-8,
.col-4 {
    padding: 0 4px;
}

.two-btn button {
    font-size: 20px;
    height: 40px;
}

.two-btn button a {
    top: 3px !important;
}

.two-btn button img {
    top: 4px !important;
    width: 25px !important;
}

.two-btn .col-5 a,
{
    right: 12px;
}

.two-btn .col-7 a {
    left: 12px;
}

.two-btn .col-4 .text-left a{
    left: 12px;
}

.two-btn .text-right a{
    right: 12px;
}

.two-btn 

.two-btn .col-auto:first-child {
    width: 63%;
}

.two-btn .col-auto:first-child a {
    right: 10px;
}

.two-btn .col-auto:last-child {
    width: 37%;
}

.two-btn .col-auto:last-child a {
    left: 10px;
}

.two-btn .col-auto:first-child img {
    left: 8px;
}

.two-btn .col-auto:last-child img {
    right: 8px;
}

.radio.radio-Orange label::before {
    border: 1px solid #ff5a03;
    width: 22px;
    height: 22px;
}

.radio.radio-Orange label::after {
    background-color: #ff5a03;
    width: 14px;
    height: 14px;
    left: 4px;
    top: 4px;
}

.radio input[type="radio"]:focus+label::before {
    outline: none;
}

.payment-btn {
    border-radius: 7px;
    border: 1px solid #ff5a00;
    background-color: #FFF;
    color: #ff5a02;
    display: block;
    font-size: 18px;
    width: 100%;
    padding: 12px 0;
    text-align: center;
    margin-bottom: 34px;
}

.btn-black {
    background-color: #000000;
    border-radius: 7px;
    border: none;
    color: #FFF;
    font-size: 18px;
    padding: 6px 0;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-black img {
    margin-right: 8px;
    width: 28px;
}


/* END 4. BUTTON */


/* 5. INPUT */

.input-txt {
    margin-bottom: 20px;
}

.input-txt input {
    font-size: 26px;
    background-color: #FFF;
    border: 1px solid #cacaca;
    color: #4A4A4A;
    border-radius: 10px;
    height: 56px;
    padding: 12px 16px;
}

.input-txt input:focus {
    border-color: #CDCFCF;
    box-shadow: none;
}

.input-txt label {
    font-size: 22px;
    color: #564242;
    margin-bottom: 6px;
}

.group.material-input {
    position: relative;
    margin-bottom: 32px;
}

.material-input input {
    color: #564242;
    font-size: 14px;
    padding: 10px 10px 10px 5px;
    display: block;
    height: 32px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #fed403;
}

.material-input input::-moz-placeholder {
    color: red;
}

.material-input input:focus {
    outline: none;
}

.material-input label {
    color: #564242;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 6px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    background-color: #fff;
}

.material-input input:focus~label,
.material-input input:valid~label {
    top: -20px;
    font-size: 14px;
    color: #564242;
}

.input-group.date {
    height: 46px;
}

.input-group.date input {
    border-right: 0;
    border-radius: 10px;
    text-align: center;
}

.input-group.date .input-group-addon {
    background-color: transparent;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.input-group.date img {
    width: 24px;
}


/* END INPUT */


/* 6. CHECK BOX */

.checkbox input[type="checkbox"]:checked+label::after {
    content: "" !important;
    color: #ff5900;
    position: absolute;
    margin-left: -24px;
    margin-top: 1px;
    width: 28px;
    height: 12px;
    border-bottom: solid 3px currentColor;
    border-left: solid 4px currentColor;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-51deg);
    border-radius: 2px;
}

.checkbox label {
    color: #564242;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 0;
    line-height: 1.4;
    padding-left: 10px;
}

.checkbox label::before {
    content: "";
    cursor: pointer;
    display: inline-block;
    position: absolute;
    width: 19px;
    height: 19px;
    left: 0;
    top: 3px;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 2px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox input[type="checkbox"]:focus+label::before {
    outline: none;
}


/* END CHECK BOX */


/* 7. HEADER-BAR */

.header-bar {
    height: 59px;
    border-bottom: 2px solid #ff5900;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 5;
    background-color: #fff;
}

.header-bar .container-fluid {
    padding: 0;
}

.header-bar button {
    padding: 0;
    margin: 6px 0 0;
    background-color: #fff;
    border: none;
}

.header-bar button:focus {
    border: none;
    box-shadow: none;
    outline: none;
}

.header-bar .logo-default {
    width: 90px;
    margin: 0 auto;
}

.header-bar .cart-btn {
    margin-right: 4px;
    position: relative;
}

.header-bar .cart-btn .icon-cart {
    width: 32px;
}

.header-bar .cart-btn .badge {
    background-color: #ff5a02;
    border-radius: 50px;
    color: #FFF;
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    top: -6px;
    right: -10px;
    padding: 3px 6px 1px 6px;
    text-align: center;
}

#nav-icon1 {
    width: 20px;
    height: 16px;
    position: relative;
    margin: 0 auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon1 span {
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background: #f36c23;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
    top: 0px;
}

#nav-icon1 span:nth-child(2) {
    top: 6px;
}

#nav-icon1 span:nth-child(3) {
    top: 12px;
}

#nav-icon1.open span:nth-child(1) {
    top: 6px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

#nav-icon1.open span:nth-child(3) {
    top: 6px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.sidebar-right {
    background-color: #fff;
    width: 100%;
    height: 100% !important;
    bottom: 0px;
    top: 59px;
    position: fixed;
}

.sidebar-right .nav {
    flex-direction: column;
    padding-top: 24px;
}

.sidebar-right .nav ul {
    padding: 0;
}

.sidebar-right .nav li {
    align-items: center;
    padding: 0;
    min-height: 44px;
}

.sidebar-right .nav li:hover {
    background-color: #ffefe4;
}

.sidebar-right .nav li.active {
    background-color: #ffefe4;
}

.sidebar-right .nav li a {
    color: #583f42;
    font-size: 14px;
    padding: 8px 20px;
    width: 100%;
    height: 44px;
    line-height: 2.9;
}

.sidebar-right .nav li a.main-menu {
    color: #583f42;
    font-size: 18px;
}

.sidebar-right .nav li a:hover {
    background-color: #ffefe4 !important;
    text-decoration: none;
}

.sidebar-right .nav li a.back {
    /* background-color: #f2f3f5; */
    height: 60px;
}

.sidebar-right .nav hr {
    height: 1px;
    margin: 10px 0;
    border-top: 1px solid #e1e1e1;
}

.sidebar-right .menu-footer {
    background-color: #292929;
    height: 100px;
    padding: 32px 18px 24px;
    position: absolute;
    bottom: 59px;
    right: 0;
    left: 0;
}

.sidebar-right .menu-footer p {
    color: #FFF;
    font-size: 14px;
    margin: 0;
}

.slinky-theme-default .next::after,
.slinky-theme-default .back::before {
    background: url(../img/next-icon.png);
    background-size: 12px 26px;
    background-repeat: no-repeat;
    height: 26px;
    opacity: 1;
    width: 12px;
}

.slinky-theme-default .back::before {
    padding: 0;
}

.main-content {
    padding-top: 59px;
    position: relative;
    height: 100vh;
}


/* END HEADER-BAR */


/* 8. REGISTER PAGE */

.register-guide {
    background-image: linear-gradient(to right, #ff5a00, #e3a417);
    padding: 16px 15px;
    height: 67px;
    width: 100%;
}

.register-guide label {
    color: #FFF;
    font-size: 22px;
    margin: 0;
}

.register-bg {
    background: url(../img/register-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-top: 56.25%;
}

.register-form {
    padding: 52px 14px;
}

.register-form .phone-number {
    border-bottom: 1px solid #ff5900;
    padding-bottom: 74px;
    margin-bottom: 0;
}

.register-form .checkbox {
    margin: 12px 32px 26px;
}


/* END REGISTER PAGE */


/* 9. VERIFY PHONE NUMBER */

.verify-form {
    padding: 52px 14px;
    text-align: center;
}

.verify-form h4 {
    font-size: 22px;
    color: #564242;
    margin-bottom: 30px;
}

.verify-form h3 {
    color: #FF5900;
    margin-bottom: 25px;
}

.verify-form h5 {
    font-size: 18px;
    color: #564242;
    margin-bottom: 50px;
}

.verify-form input {
    border: 1px solid #cecece;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    color: #564242;
    height: 46px;
    margin-bottom: 46px;
}

.verify-form input::placeholder {
    color: #564242;
}

.verify-form input:focus {
    box-shadow: none;
    border: 1px solid #cecece;
}

.verify-form .btn-help {
    margin-bottom: 83px;
}

.verify-form .btn-help a {
    color: #564242;
    font-size: 16px;
}

.verify-form .btn-help a:hover {
    text-decoration: none;
}

.verify-form .btn-help a:first-child {
    margin-right: 2%;
}

.verify-form .btn-help a:last-child {
    margin-left: 0%;
}

.verify-form .btn-help span {
    color: #FF5900;
}

.verify-form .contect {
    margin-bottom: 36px;
}

.verify-form .contect p {
    font-size: 14px;
}

.otp-modal .modal-dialog {
    width: 320px;
    max-width: 100%;
    margin: 160px auto;
}

.otp-modal .modal-dialog .modal-content {
    background-color: #000;
    border-top: 10px solid #FE5B02;
    border-radius: 0;
    padding: 44px 30px 30px;
}

.otp-modal .modal-dialog .modal-content p {
    margin-bottom: 40px;
    text-align: center;
    color: #FFF;
    font-size: 22px;
}


/* END VERIFY PHONE NUMBER */


/* 10. ORDER PRODUCT */

.search-box {
    padding: 16px 16px 0;
}

.select-box {
    padding: 0 16px 16px;
}

.owl-carousel .owl-dots {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -8px;
}

.owl-carousel .owl-dots .owl-dot {
    display: inline-block;
}

.owl-carousel .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background-color: #ffffff;
    display: block;
    backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}

.owl-carousel .owl-dots .owl-dot.active span {
    background: #ff5400;
}

.product-list {
    padding: 30px 28px 36px 16px;
}

.product-list .category-name h5 {
    color: #564242;
    font-size: 32px;
    margin-bottom: 0;
}

.product-list .category-name .product {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 26px;
    padding-top: 26px;
}

.product-list .category-name .product-details {
    display: flex;
    padding-bottom: 18px;
}

.product-list .category-name .product-details .product-img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 72.72% 0 0 0;
    margin-right: 22px;
}

.product-list .category-name .product-details .product-img img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.product-list .category-name .product-details .product-detail {
    width: 70%;
}

.product-list .category-name .product-details .product-detail .product-name-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.product-list .category-name .product-details .product-detail .product-name-header .product-name {
    display: flex;
    flex-direction: column;
}

.product-list .category-name .product-details .product-detail .product-name-header .product-name a {
    color: #fe6302;
    font-size: 17px;
    margin-bottom: 2px;
}

.product-list .category-name .product-details .product-detail .product-name-header .product-name label {
    color: #564242;
    font-size: 14px;
}

.product-list .category-name .product-details .product-detail .product-name-header .like-btn button {
    background-color: transparent;
    padding: 0;
}

.product-list .category-name .product-details .product-detail .product-name-header .like-btn button:focus {
    box-shadow: none;
}

.product-list .category-name .product-details .product-detail .product-name-header .like-btn button.active .anticon.heart::before {
    color: #fe6302;
}

.product-list .category-name .product-details .product-detail .product-name-header .like-btn button i {
    line-height: 1;
}

.product-list .category-name .product-details .product-detail .product-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fe6302;
    padding-bottom: 14px;
    margin-bottom: 16px;
}

.product-list .category-name .product-details .product-detail .product-price .price label {
    color: #564242;
    font-size: 14px;
    margin-bottom: 0;
    text-decoration: line-through;
}

.product-list .category-name .product-details .product-detail .product-price .price h6 {
    color: #fe6302;
    font-size: 20px;
}

.product-list .category-name .product-details .product-detail .product-price .unit label {
    color: #564242;
    font-size: 14px;
}

.product-list .category-name .product-details .product-detail .number {
    margin-bottom: 16px;
}

.product-list .category-name .product-details .product-detail .number label {
    color: #564242;
    font-size: 14px;
    margin-bottom: 2px;
}

footer {
    width: 100%;
    bottom: 0px;
}

.footer {
    display: block;
    width: 100%;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    background-color: #292929;
    color: #ffffff;
    bottom: 0px;
}

.footer .main-footer .logo-img {
    padding-top: 26px;
    padding-bottom: 32px;
}

.footer .main-footer .logo-img img {
    width: 215px;
}

.footer .main-footer .widget {
    display: flex;
    flex-direction: column;
}

.footer .main-footer .widget h6 {
    color: #fe6302;
    font-size: 20px;
    margin-bottom: 20px
}

.footer .main-footer .widget a {
    color: #FFF;
    font-size: 18px;
    margin-bottom: 20px
}

.footer .main-footer .widget a:last-child {
    margin-bottom: 50px
}

.footer .footer-note {
    padding-bottom: 3px;
}

.footer .footer-note p {
    font-size: 11px;
}


/* END ORDER PRODUCT */


/* 11. PRODUCT DETAIL */

.product-detail-page {
    display: flex;
    padding-bottom: 18px;
    flex-direction: column;
    padding: 0 16px 16px;
}

.product-detail-page>.product-detail {
    display: flex;
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 1px solid #e0e0e0;
}

.product-detail-page .product-img {
    width: 100%
}

.product-detail-page .product-img img {
    width: 100%
}

.product-detail-page .product-name-header {
    display: flex;
    justify-content: space-between;
}

.product-detail-page .product-name-header .product-name {
    display: flex;
    flex-direction: column;
}

.product-detail-page .product-name-header .product-name a {
    color: #fe6302;
    font-size: 23px;
    margin-bottom: 2px;
}

.product-detail-page .product-name-header .product-name label {
    color: #564242;
    font-size: 14px;
}

.product-detail-page .product-name-header .like-btn button {
    background-color: transparent;
    padding: 0;
}

.product-detail-page .product-name-header .like-btn button:focus {
    box-shadow: none;
}

.product-detail-page .product-name-header .like-btn button.active .anticon.heart::before {
    color: #fe6302;
}

.product-detail-page .product-price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* padding-bottom: 14px;
    margin-bottom: 16px; */
    width: 100%;
    position: relative;
}

.product-detail-page .product-price .price {
    bottom: 26px;
    position: absolute;
    width: 100%;
    text-align: right;
}

.product-detail-page .product-price .price label {
    color: #564242;
    font-size: 14px;
    margin-bottom: 0;
    text-decoration: line-through;
}

.product-detail-page .product-price .price h6 {
    color: #fe6302;
    font-size: 20px;
}

.product-detail-page .product-price .unit {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
}

.product-detail-page .product-price .unit label {
    color: #564242;
    font-size: 14px;
}

.product-detail-page .number {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 4px;
    border-bottom: 1px solid #e0e0e0;
}

.product-detail-page .number label {
    color: #564242;
    font-size: 20px;
    margin-bottom: 0;
}

.product-detail-page .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 4px 20px;
    border-bottom: 1px solid #e0e0e0;
}

.product-detail-page .total label:first-child {
    color: #564242;
    font-size: 20px;
    margin-bottom: 0;
}

.product-detail-page .total label:last-child {
    color: #fe6302;
    font-size: 20px;
    margin-bottom: 0;
}

.product-detail-page .btn-shop {
    margin-top: 20px;
}

.add-to-cart .modal-dialog {
    width: 320px;
    max-width: 100%;
    margin: 160px auto;
}

.add-to-cart .modal-dialog .modal-content {
    background-color: #000;
    border-radius: 0;
}

.add-to-cart .modal-dialog .modal-content .header {
    background-color: #FE5B02;
    height: 42px;
    text-align: center;
    color: #FFF;
    padding: 3px;
    font-size: 24px;
}

.add-to-cart .modal-dialog .modal-content .body {
    padding: 30px 16px 34px;
}

.add-to-cart .modal-dialog .modal-content .body p {
    text-align: center;
    color: #FFF;
    font-size: 22px;
    margin: 0;
}

.add-to-cart .modal-dialog .modal-content .footer {
    padding: 0 24px 16px;
}


/* END PRODUCT DETAIL */


/* 12. CART HIDDEN */

.cart-hidden .icon-cart {
    display: none;
}

.my-cart>h4 {
    color: #564242;
    font-size: 22px;
    margin: 20px 16px;
}

.my-cart .owl-carousel .item img {
    padding: 0 40px;
}

.my-cart .owl-carousel .item .product-name {
    padding: 12px 16px;
}

.my-cart .owl-carousel .item h6 {
    color: #fe6302;
    font-size: 17px;
    margin: 0;
}

.my-cart .owl-carousel .item label {
    color: #564242;
    font-size: 14px;
}

.my-cart .owl-carousel .owl-dots {
    display: none;
}

.my-cart .page-title {
    background-color: #292929;
    height: 57px;
    padding: 12px 16px;
}

.my-cart .page-title label {
    color: #FFF;
    font-size: 22px;
    margin: 0;
}

.my-cart .product-list {
    padding: 0 16px;
}

.my-cart .product-list .product {
    padding: 20px 0 23px;
    height: 216px;
}

.my-cart .product-list .product .product-details {
    padding-bottom: 0;
}

.my-cart .product-list .image {
    margin-right: 22px;
    height: 0;
    overflow: hidden;
    padding-bottom: 77.72% !important;
    width: 150px;
}

.my-cart .product-list .image img {
    width: 100%;
    height: auto;
}

.my-cart .product-list .product-name-header {
    margin-bottom: 2px !important;
}

.my-cart .product-list .product-price {
    align-items: baseline;
    padding-bottom: 0 !important;
}

.my-cart .product-list .category-name .product-details .product-detail .product-price .price h6 {
    margin: 0;
}

.my-cart .product-list .totalPriceBox {
    border-bottom: 1px solid #e0e0e0;
    padding: 30px 0 42px;
}

.my-cart .product-list .totalPriceBox label {
    margin: 0;
}

.my-cart .product-list .totalPriceBox .item {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 45px;
}

.my-cart .product-list .totalPriceBox .points {
    border-bottom: 0;
    float: right;
    padding: 0;
}

@media only screen and (max-width: 320px) {
    .my-cart .owl-carousel .item h6 {
        font-size: 14px;
    }
    .my-cart .owl-carousel .item label {
        font-size: 12px;
    }
}

@media only screen and (min-width:641px) and (max-width:961px) {
    .my-cart>h4 {
        font-size: 40px;
    }
    .my-cart .owl-carousel .item img {
        padding: 0 100px;
    }
    .my-cart .owl-carousel .item h6 {
        font-size: 29px;
    }
    .my-cart .owl-carousel .item label {
        font-size: 22px;
    }
    .my-cart .owl-carousel .item .product-name {
        padding: 12px 54px;
    }
    .my-cart .product-list .product {
        height: 240px;
    }
    .my-cart .product-list .category-name .product-details .product-detail {
        width: 76.6%;
    }
    .my-cart .mycart-btn .button {
        text-align: center !important;
    }
    .my-cart .page-title {
        padding: 9px 16px;
    }
    .my-cart .page-title label {
        font-size: 30px;
    }
    .my-cart .product-list .category-name .product-details .product-detail .number {
        margin-bottom: 26px;
    }
}


/* END CART HIDDEN */


/* 13. POINT */

.points {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 4px 20px;
    border-bottom: 1px solid #e0e0e0;
}

.points label {
    color: #564242;
    font-size: 20px;
    margin-bottom: 0;
}

.points .points-tag {
    width: 140px;
    height: 30px;
    border: 1px solid #fe6302;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    margin-right: 4px;
}

.points .points-tag .point {
    background-color: #fe6302;
    border-right: 1px solid #fe6302;
    padding: 0px 8px;
}

.points .points-tag .point label {
    color: #FFF;
}

.points .points-tag .point-label {
    padding: 0px 8px;
    text-align: center;
    width: 100%;
}

.points .points-tag .point-label label {
    color: #fe6302;
}

.points .points-total {
    display: flex;
}


/* END 13. POINT */


/* 14. COMPLETE PAGE */

.complete-tab {
    background-image: linear-gradient(to right, #ff5a00, #e3a417);
    padding: 18px 16px;
    height: 67px;
    width: 100%;
}

.complete-tab label {
    color: #FFF;
    font-size: 22px;
    margin: 0;
}

.complete-bg {
    background: url(../img/cart-bg@3x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-top: 56.25%;
}

.complete-messege {
    padding-top: 110px;
    text-align: center;
}

.complete-messege h5 {
    color: #000000;
    font-size: 28px;
    margin-bottom: 6px;
}

.complete-messege h6 {
    color: #ff5a03;
    font-size: 34px;
    margin: 0
}


/* END 14. COMPLETE PAGE */


/* 15. SHIPPING ADDRESS */

.address-tab {
    display: flex;
    height: 90px;
    width: 100%;
}

.address-tab .item {
    background-color: #dbdbdb;
    color: #FFF;
    display: flex;
    padding: 7px 12px;
    width: 50%;
    align-items: center;
    text-align: center;
}

.address-tab .item.active {
    background-color: #ff5a03;
}

.address-tab .item h1 {
    font-size: 42px;
    margin: 0;
    position: relative;
}

.address-tab .item h1::after {
    content: "";
    background-color: #FFF;
    position: absolute;
    top: 9px;
    width: 2px;
    height: 30px;
    margin-left: 8px;
}

.address-tab .item p {
    margin: 0 0 0 20px;
    font-size: 17px;
    line-height: 1;
    text-align: left;
}

.address-tab .item:first-child {
    padding-left: 25px;
}

.address-list {
    text-align: center;
    margin-top: 54px;
}

.address-list h5 {
    color: #564242;
    font-size: 22px;
    margin-bottom: 10px;
}

.address-list .box-shipping {
    display: flex;
    align-items: flex-start;
    text-align: left;
    padding: 26px 30px;
    position: relative;
}

.address-list .box-shipping .radio {
    position: absolute;
    top: 17px;
    padding-left: 12px;
}

.address-list .box-shipping .shipping-address {
    padding-left: 46px;
}

.address-list .box-shipping .shipping-address label {
    color: #564242;
    font-size: 14px;
    margin: 0;
}

.shipping-address-btn {
    padding: 0 16px;
}

.shipping-address-btn .add-address-btn {
    padding-bottom: 36px;
    border-bottom: 1px solid #e0e0e0;
}


/* END 15. SHIPPING ADDRESS */


/* 16. PREFERRED DT */

.address-list.preferred {
    padding: 0 16px;
}

.address-list.preferred h5 {
    text-align: left;
}

.address-list.preferred .shipping-address {
    padding: 40px 0px 60px;
    text-align: left;
}

.address-list.preferred .shipping-address label {
    color: #564242;
    font-size: 14px;
    margin: 0;
}

.preferred .dt-label {
    background-color: #dbdbdb;
    height: 55px;
    margin-bottom: 50px;
    padding: 12px;
    width: 100%;
}

.preferred .dt-label label {
    color: #564242;
    font-size: 22px;
    text-align: center;
    margin: 0;
}

.preferred .change-address-btn {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 60px;
}

.preferred .change-address-btn a {
    color: #ff5a03;
    font-size: 22px;
    text-align: center;
}


/* END 16. PREFERRED DT */


/* 17. ADD SHIPPING ADDRESS */

.add-shipping-address-form {
    padding: 56px 0 30px;
    margin: 0 16px;
    border-bottom: 1px solid #e0e0e0;
}

.save-btn {
    padding: 40px 16px;
}


/* END 17. ADD SHIPPING ADDRESS */


/* 18. CONTACT US */

.contact-bg {
    background: url(../img/contact-us-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-top: 56.25%;
}

.contact-tab {
    background-image: linear-gradient(to right, #ff5a00, #e3a417);
    padding: 18px 16px;
    height: 67px;
    width: 100%;
}

.contact-tab label {
    color: #FFF;
    font-size: 22px;
    margin: 0;
}

.contact-address {
    padding: 30px 12px;
}

.contact-address label {
    color: #ff5b02;
    font-size: 18px;
}

.contact-address p {
    border-bottom: 1px solid #e0e0e0;
    color: #564242;
    font-size: 18px;
    line-height: 1.6;
    padding-bottom: 16px;
}

.contact-address p:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.social-contact {
    background-color: #000;
    display: flex;
    flex-direction: row;
    height: 80px;
    justify-content: space-around;
    padding: 16px;
}

.social-contact .social-list {
    text-align: center;
    width: 95px;
}

.social-contact .social-list:last-child {
    margin-right: 0;
}

.social-contact .social-list a {
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.social-contact .social-list img {
    margin: 0 auto;
    width: 40px;
}

.social-contact .social-list label {
    color: #FFF;
    font-size: 12px;
    margin: 5px 0 0;
}


/* END 18. CONTACT US */


/* 19. CUSTOMER PROFILE */

.profile-top-bg {
    background: url(../img/profile-top-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-top: 56.25%;
}

.profile-tab {
    background-image: linear-gradient(to right, #ff5a00, #e3a417);
    padding: 18px 16px;
    height: 67px;
    width: 100%;
}

.profile-tab label {
    color: #FFF;
    font-size: 22px;
    margin: 0;
}

.customer-id {
    background-color: #e0e0e0;
    margin: 20px 12px 22px;
    padding: 10px;
}

.customer-id label {
    color: #564242;
    font-size: 22px;
    margin-bottom: 8px;
}

.customer-id label span {
    font-weight: bold;
    font-style: normal;
}

.customer-info {
    display: flex;
    align-items: center;
}

.customer-info .customer-img {
    overflow: hidden;
    margin-right: 18px;
    width: 90px;
    min-width: 90px;
}

.customer-info .customer-img img {
    width: 100%;
    object-fit: cover;
    height: 90px;
}

.customer-info .customer-name {
    line-height: 1.4;
    width: 64%;
}

.customer-info .customer-name label {
    color: #564242;
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    margin-bottom: 0;
}

.customer-shipping-address {
    margin: 20px 12px 16px;
}

.customer-shipping-address h5 {
    color: #ff5b02;
    font-size: 18px;
}

.customer-shipping-address label,
.customer-shipping-address p {
    color: #564242;
    font-size: 18px;
    margin: 0;
}

.more-profile {
    padding: 40px 12px;
}

.more-profile h5 {
    color: #ff5b02;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
}

.more-profile .shop-name {
    color: #564242;
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.more-profile .shop-image {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 30px;
    margin-bottom: 25px;
}

.more-profile .shop-image h5,
.more-profile .menu-image h5 {
    color: #564242;
    font-size: 18px;
}

.image-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -8px;
    margin-bottom: -8px;
}

.image-list .image-wrap {
    display: flex;
    flex-direction: column;
    margin-right: 8px;
    margin-bottom: 8px;
    text-align: center;
    width: 144px;
}

.image-list .image-wrap img {
    width: 144px;
    height: 144px;
    object-fit: cover;
}

.more-profile .menu-image {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 28px;
}

.more-profile .menu-image .menu-img .image-wrap img {
    margin-bottom: 18px;
}

.more-profile .menu-image .menu-img .image-wrap label {
    color: #564242;
    font-size: 14px;
    margin: 0 14px;
}

.profile-menu .card {
    border: none;
    border-top: 1px solid #e0e0e0;
    border-radius: 0;
}

.profile-menu .card:last-child {
    border-bottom: 1px solid #e0e0e0;
}

.profile-menu .card-header {
    background-color: #FFF;
    border: none;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    height: 76px;
    position: relative;
}

.profile-menu .card-header a {
    color: #564242;
    font-size: 18px;
    padding: 24px 12px 24px;
    position: absolute;
    right: 0;
    left: 0;
}

.profile-menu .card-header a:hover {
    text-decoration: none;
}

.profile-menu .card-header button {
    background-color: #FFF;
    border-radius: 0;
    color: #564242;
    font-size: 18px;
    height: 100%;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-menu .card-header button:focus {
    box-shadow: none;
    outline: none;
}

.profile-menu .card-header button img {
    float: right;
    width: 27px;
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: -webkit-transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.profile-menu .card-header button.btn img {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.profile-menu .card-header button.collapsed img {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.profile-menu .card-header .points {
    border-bottom: none;
    float: right;
}

.profile-menu .card-body {
    padding: 0 12px 22px;
}

.premium-gift {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 24px;
    margin-bottom: 22px;
}

.premium-gift h6 {
    color: #564242;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 24px;
}

.premium-gift button {
    font-size: 18px;
    margin: 0 !important;
}

.premium-gift .button.btn-link a {
    cursor: pointer;
    line-height: 3.5 !important;
    font-size: 15px;
}

.gift-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 16px;
}

.gift-item .gift-image {
    margin-right: 24px;
}

.gift-item .gift-image img {
    width: 118px;
    height: 88px;
    object-fit: cover;
}

.gift-item .gift-detail {
    width: 60%;
}

.gift-item .gift-detail>label {
    color: #ff794c;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    height: 14px;
    line-height: 1.2;
}

.gift-item .gift-detail .point-use {
    background-color: #f3f3f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 0 11px 0 7px;
}

.gift-item .gift-detail .point-use label {
    margin: 0;
    font-size: 14px;
}

.gift-item .gift-detail .point-use label:first-child {
    color: #564242;
}

.gift-item .gift-detail .point-use label:last-child {
    color: #ff5901;
}

.profile-bottom-bg {
    background: url(../img/profile-bottom-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-top: 56.25%;
}

.coupon {
    margin-right: -12px;
}

.coupon .image-wrap {
    /* width: 204px; */
    margin-right: 20px;
    /* margin-bottom: 40px; */
}


/* 
.coupon .image-wrap img{
    width: 204px;
    height: 163px;
} */

@media only screen and (max-width: 370px) {
    .customer-id label {
        font-size: 19px;
    }
    .gift-item .gift-detail {
        width: 52%;
    }
    .gift-item .gift-detail .point-use {
        flex-direction: column;
        height: auto;
    }
}


/* END 19. CUSTOMER PROFILE */


/* 20. ORDER HISTORY */

.order-list-tab {
    background-image: linear-gradient(to right, #ff5a00, #e3a417);
    padding: 18px 16px;
    height: 67px;
    width: 100%;
}

.order-list-tab label {
    color: #FFF;
    font-size: 22px;
    margin: 0;
}

.order-list {
    padding: 8px 14px 38px;
}

.order-list .order-product {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 14px;
}

.order-product .order {
    display: flex;
    padding: 28px 0 20px;
    position: relative;
}

.order-product .cart-img {
    margin-right: 8px;
}

.order-product .cart-img img {
    width: 32px;
}

.order-product .order-detail {
    display: flex;
    flex-direction: column;
}

.order-product .order-detail label {
    height: 24px;
    margin-bottom: 2px;
}

.order-product .order-detail .product-number {
    color: #fe6302;
    font-size: 17px;
}

.order-product .order-detail .order-date {
    color: #564242;
    font-size: 14px;
}

.order-product .order-detail .price-total {
    color: #564242;
    font-size: 18px;
}

.order-product .order-detail .price-total span {
    color: #fe6302;
}

.order-product .order-detail a {
    color: #fe660b;
    font-size: 14px;
    margin-top: 12px;
}

.order-product .order-again{
    position: absolute;
    right: 0;
}

.order-product .order-again button {
    background-color: #292929;
    border: 0;
    border-radius: 5px;
    color: #FFF;
    font-size: 13px;
    height: 23px;
    padding: 5px 8px;
}

.order-product-history {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.order-product-history .product-img {
    display: block;
    width: 50%;
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 40% 0 0 0;
    margin-right: 22px;
}

.order-product-history .product-img img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.order-product-history .product-detail {
    width: 100%;
}

.order-product-history .product-detail .product-name {
    color: #fe6302;
    font-size: 17px;
    margin-bottom: 0;
}

.order-product-history .product-detail .product-branded {
    color: #564242;
    font-size: 14px;
}


/* 21. Payment */

.payment-bg {
    background: url(../img/payment.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-top: 56.25%;
}

.payment-tab {
    background-image: linear-gradient(to right, #ff5a00, #e3a417);
    padding: 18px 16px;
    height: 67px;
    width: 100%;
}

.payment-tab label {
    color: #FFF;
    font-size: 22px;
    margin: 0;
}

.payment {
    padding: 30px 12px;
}

.payment .btn-more {
    margin-bottom: 34px;
    font-size: 18px;
    margin-top: 0;
}


/* END 21. Payment */


/* 22. Bank Payment */

.bank-payment {
    padding: 30px 12px;
}

.bank-payment .bank-list {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 24px;
    margin-bottom: 24px;
}

.bank-payment .bank-list:last-child {
    border-bottom: none;
}

.bank-payment .bank-list .bank-img {
    padding: 4px 0;
    margin-right: 20px;
    width: 20%;
    max-width: 120px;
}

.bank-payment .bank-list .bank-img img {
    width: 100%;
}

.bank-payment .bank-list .bank-detail {
    width: 75%;
}

.bank-payment .bank-list .bank-detail .bank-name {
    color: #ff5b02;
    font-size: 18px;
    font-weight: bold;
}

.bank-payment .bank-list .bank-detail p {
    color: #564242;
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* End 22. Bank Payment */


/* 23. Confirm Payment */

.confirm-label {
    margin-top: 30%;
    text-align: center;
}

.confirm-label p {
    color: #ff5b02;
    font-size: 28px;
    font-weight: lighter;
}

.confirm-payment-btn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}


/* END 23. Confirm Payment */


/* 24. Confirm Payment */

.proof-payment {
    padding: 30px 12px;
}

.proof-payment label {
    font-size: 14px;
}

.proof-payment .hr {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 8px;
    margin-bottom: 18px;
}

.proof-payment .align-center {
    align-items: center;
}

.proof-payment .column {
    padding: 0 4px;
    margin-bottom: 12px;
}

.proof-payment .column>span {
    float: right;
    margin-right: 6px;
}

.proof-payment .payment-time {
    display: flex;
    justify-content: space-between;
}

.proof-payment .payment-time .SumoSelect {
    width: 46%;
}

.proof-payment .example-img {
    text-align: center;
}

.proof-payment .example-img img {
    width: 50%;
    max-width: 50%;
}


/* END 24. Confirm Payment */

@media only screen and (max-width: 370px) {
    .order-product .cart-img img {
        width: 24px;
    }
    .order-product .order-detail label {
        height: 20px;
    }
    .order-product .order-detail .product-number {
        font-size: 15px;
    }
    .order-product .order-detail .order-date {
        font-size: 12px;
    }
    .order-product .order-detail .price-total {
        font-size: 16px;
    }
    .order-product .order-again button {
        font-size: 10px;
    }
    .payment-tab label {
        font-size: 20px;
    }
    .proof-payment .column>span {
        margin-right: 0;
    }
}

@media only screen and (min-width:641px) and (max-width:961px) {
    .order-product .order {
        justify-content: flex-start;
    }
    .order-product .cart-img img {
        margin-right: 16px;
    }
    .order-product .order-detail {
        margin-right: 62px;
    }
    .bank-payment .bank-list .bank-detail .bank-name,
    .bank-payment .bank-list .bank-detail p {
        font-size: 26px;
    }
    .bank-payment .bank-list .bank-img {
        margin-right: 30px;
    }
}


/* END 20. ORDER HISTORY */

@media (min-width: 992px){
    .order-product .cart-img{
        margin-right: 24px;
    }
    .main-content,
    .single-content{
        width: 500px;
        margin: 0 auto;
    }
}