button[disabled] { opacity: 0.6; background:#cccccc; }

#social_container {
	text-align: center;
	padding: 20px 0 0px 0px;
	max-width: 540px;
	margin: 0 auto;
	min-height:600px;
}
#social_container > section { 
	padding: 20px; 
	width: 25%;
	min-width: 150px;
	width: 170px;
}
.zocial {
	min-width:155px;
}
.btn_continue { max-width: 270px; }
/* normal */
@media screen and (max-width: 1280px) {
	#social_container {
		padding: 50px 0 100px 0px;
		margin-left: 20px;
		max-width: 540px;
		margin: 0 auto;
	}
	ul.actions {
		width: 100%;
	}
	.actions > li img, .actions > li div {
		
	}
	.actions > li div {
		padding: 10px 0px 0px 0px;
	}
	.btn_continue {
		max-width: 265px;
	}
	.row > section {
		margin-bottom: 0;
		padding-left: 20px;
	}
	#social_container > section { 
		padding-left: 0;
		margin:5px;
		padding:5px;
	}
}

/* narrow */
@media screen and (max-width: 1080px) {
	#social_container {
		padding: 50px 0 0 0px;
		margin-left: 20px;
		max-width: 540px;
		margin: 0 auto;
	}
	ul.actions {
		width: 100%;
	}
	.actions > li img, .actions > li div {
		
	}
	.actions > li div {
		padding: 10px 0px 0px 0px;
	}
	.btn_continue {
		max-width: 265px;
	}
	.row > section {
		margin-bottom: 0;
		padding-left: 20px;
	}
	#social_container > section { padding-left: 0; margin:5px; padding:5px;}
}

/* Narrower */
@media screen and (max-width: 820px) {
	#social_container {
		padding: 50px 0 0 0px;
		margin: 0 auto;
	}
	ul.actions {
		width: 100%;
	}
	.actions > li img, .actions > li div {
		
	}
	.actions > li div {
		padding: 10px 0px 0px 0px;
	}
	.btn_continue {
		max-width: 265px;
	}
	.row > section {
		margin-bottom: 0;
		/*padding-left: 0px;*/
	}
	#social_container > section { padding-left: 0; }
}

/* mobile */
@media screen and (max-width: 736px) {
	#social_container {
		padding: 20px 10px 0px 10px;
		margin: 0 auto;
	}
	#social_container {
		padding: 20px 0px 0px 10px;
		/* width: 400px;*/
	}
	.zocial {
		min-width:240px;
	}
	ul.actions {
		width: 100%;
	}
	.actions > li img, .actions > li div {
		float: left;
	}
	.actions > li div {
		padding: 7px 0px 0px 20px;
	}
	.btn_continue {
		min-width: 300px;
	}
	#social_container > section {
		margin: 0;
		padding-left: 0px;
		width: 100%; 
	}
}

/* Mobile (Portrait) */
@media screen and (max-width: 480px) {
	
	#social_container {
		padding: 20px 10px 0px 10px;
		/*width: 400px;*/
	}
	.zocial {
		min-width:150px;
		width:100%;
	}
	ul.actions,.actions > li {
		width: 100%;
	}
	.actions > li > div {
		padding: 0px 0px 0px 20px;
		width: 80%;
	}
	.actions > li img {
		width: 20%;
	}
	.actions > li img, .actions > li div {
		float: left;
	}
	.actions > li div {
		padding: 5px 0px 0px 20px;
	}
	.btn_continue {
		max-width: 270px;
		min-width: 0;
	}
	#social_container > section {
		margin: 0;
		padding: 20px 0 0 0px;
		width: 100%; 
	}
	div.row { margin: 0; }
	section.container { padding:10px; }
}



.no-padding { padding: 0 !important; }
.no-margin { margin: 0 !important; }

.loadersmall {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    animation: 1s linear 0s normal none infinite running spin;
    border-color: #555 #f3f3f3 #f3f3f3;
    border-image: none;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    height: 50px;
    width: 50px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (min-width: 1200px) { 
	#social_container {
		min-height:500px;
	}
	[class*="col-"] { padding: 0 !important; } 
	.row { padding-top:20px; margin: 0;} 
}

@media (min-width: 992px) and (max-width: 1200px) {
	#social_container {
		min-height:550px;
	}
	[class*="col-"] { padding: 0 !important; } 
	.row { padding-top:20px; margin: 0;} 
}

@media (min-width: 768px) and (max-width: 992px) { 
	#social_container {
		min-height:470px;
	}
	[class*="col-"] { padding: 0 !important; }
	.row { padding-top:20px; margin: 0;} 
}

@media (min-width: 480px) and (max-width: 768px) { 
	#social_container {
		min-height:470px;
	}
	[class*="col-"] { padding: 0 !important; }
	.row { padding-top:20px; margin:0px;} 
}

@media (max-width: 480px) { 
	[class*="col-"] { padding: 0 !important; }
	#social_container {
		padding-top:0px;
		min-height:500px;
	}
	.row { padding-top:10px; } 
}