@charset "UTF-8";
@font-face {
    font-family: 'superspace_regular';
    src: url('../fonts/superspace/superspace_regular_ver_1.00-webfont.woff2') format('woff2'),
         url('../fonts/superspace/superspace_regular_ver_1.00-webfont.woff') format('woff'),
         url('../fonts/superspace/superspace_regular_ver_1.00-webfont.ttf') format('truetype'),
         url('../fonts/superspace/superspace_regular_ver_1.00-webfont.svg#superspace_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'superspace_bold';
    src: url('../fonts/superspace/superspace_bold_ver_1.00-webfont.woff2') format('woff2'),
         url('../fonts/superspace/superspace_bold_ver_1.00-webfont.woff') format('woff'),
         url('../fonts/superspace/superspace_bold_ver_1.00-webfont.ttf') format('truetype'),
         url('../fonts/superspace/superspace_bold_ver_1.00-webfont.svg#superspace_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'thaisans_neueregular';
    src: url('../fonts/thaisansneue/thaisansneue-regular-webfont.woff2') format('woff2'),
         url('../fonts/thaisansneue/thaisansneue-regular-webfont.woff') format('woff'),
         url('../fonts/thaisansneue/thaisansneue-regular-webfont.ttf') format('truetype'),
         url('../fonts/thaisansneue/thaisansneue-regular-webfont.svg#thaisans_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-size: 1.5em;
}